/**
 * This file provides the most basic styles.
 *
 * @author Haelwenn MONNIER (lanodan) <haelwenn.monnier@free.fr>
 */
body {
  color: @ini_text;
  background: @ini_background_site;
  margin: 0 1%;
  padding: 0;
  font: Arial;
}
a {
  color: @ini_link;
}
.group, #dokuwiki__usertools, #dokuwiki__sitetools {
  display: inline-table !important;
}
.tools, #dokuwiki__usertools, #dokuwiki__sitetools {
  padding: 0 1em;
}
.tools {
  float: right;
  background: @ini_background;
  border: 1px solid @ini_border;
  padding: 0 1em 1em 1em;
}
aside {
  float: left;
  max-width: @ini_sidebar_width;
  margin-right: 1em;
}
#content {
  background: @ini_background;
  display: table;
  padding: 0 1% 1% 1%;
  margin: 1em;
  border: 1px solid @ini_border;
  border-radius: 0.5em;
  box-shadow: 0 0 1em;
}
#title {font: 30px Times;}
#title a {
  text-decoration: none !important;
}
.breadcrumbs {
  border-top: 1px solid @ini_border;
  border-bottom: 1px solid @ini_border;
}
.docInfo {
  text-align: right;
  font-family: monospace;
}
footer {text-align: center;}
div.notify {
  background-color: #ffc;
  background-image: url("images/notify.png");
  background-repeat: no-repeat;
  background-position: 8px 50%;
  border: 1px solid @ini_border;
  border-radius: 0.4em;
  box-shadow: .3em .3em .5em;
  color: #000;
  font-size: 90%;
  margin: 0 0 0.5em;
  padding: 0.4em;
  padding-left: 32px;
  display: table;
}
.wikilink1 {color: @ini_existing;}
.wikilink2 {color: @ini_missing;}
#user__manager input.button[disabled] {
  color: auto !important;
  border-color: auto !important;
} 
h1, h2, h3, h4, h5, h6 {
  margin: 0.5em;
  padding: 0;
}
.pagetools {display: table;}
.pagetools a {
  background: @ini_background;
  border: 1px solid @ini_border;
  display: inline-table;
  margin: 0 0.5em;
  padding: 0.2em;
}
table, th, td {
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0;
  border: solid @ini_border;
}
th {
    font-weight: bold;
    background-color: @ini_background_alt;
}
.secedit {
  display: none;
}
