
<h1 class="sectionedit1" id="a_propos">À Propos</h1>
<div class="level1">

<p>
The-Delta est une Anarchie à consensus(sens commun) car la hiérarchie est absente et toute personne est libre et égale.
</p>

<p>
Lien vers le pad (tableau participatif): <a href="https://lite5.framapad.org/p/The-Delta" class="urlextern" title="https://lite5.framapad.org/p/The-Delta"  rel="nofollow">https://lite5.framapad.org/p/The-Delta</a>
</p>
<hr />

</div>
<!-- EDIT1 SECTION "À Propos" [1-240] -->
<h2 class="sectionedit2" id="serveurs">Serveurs</h2>
<div class="level2">

<p>
The-Delta (T-D), était à la base un serveur Minecraft et est aujourd&#039;hui un ensemble de serveurs sur une organisation désordonnée ou un désordre organisé :
</p>
<ul>
<li class="level1"><div class="li"> Un <a href="#serveur_http" title="start ↵" class="wikilink1">serveur_HTTP</a> sous Apache (Cette page vient bien de quelque part !)</div>
</li>
<li class="level1"><div class="li"> <del>Un serveur <abbr title="File Transfer Protocol">FTP</abbr> public et anonyme pour plus de datalove &lt;3</del> (sera peut-être remis en service.)</div>
</li>
<li class="level1"><div class="li"> Des <a href="#serveur_irc" title="start ↵" class="wikilink1">serveur_IRC</a> sous charybdis.</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Serveurs" [241-654] -->
<h3 class="sectionedit3" id="serveur_http">Serveur HTTP</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> Le wiki (le site que vous regardez en ce moment)</div>
</li>
</ul>

<p>
Sur ce serveur seul votre user-agent(chaine de charatere qui donne des infos sur votre navigateur/<abbr title="Operating System">OS</abbr>/…) est enregistré. De temps en temps un autre journal temporaire(supprimé ensuite) pourrat etre activer pour combattre les robots.
Le wiki enregistre aussi les inscriptions depuis longtemps (un robot crée des comptes), voici le journal entier (aucune modification) : <a href="http://www.the-delta.net/subcription.log" class="urlextern" title="http://www.the-delta.net/subcription.log"  rel="nofollow">http://www.the-delta.net/subcription.log</a>
</p>

<p>
 → <a href="/doku.php?id=administration" class="wikilink1" title="administration">Plus d’informations</a>
</p>

</div>
<!-- EDIT3 SECTION "Serveur HTTP" [655-1199] -->
<h3 class="sectionedit4" id="serveur_irc">Serveur IRC</h3>
<div class="level3">

<p>
L’IRC permet de discuter de manière instantanée à plusieurs, avec des serveurs en relais (permet d’éviter que le réseau tombe avec un serveur). Vous pouvez vous y connecter avec un client <abbr title="Internet Relay Chat">IRC</abbr> tel que <a href="http://irssi.org/" class="urlextern" title="http://irssi.org/"  rel="nofollow">irssi</a>, <a href="http://weechat.org/" class="urlextern" title="http://weechat.org/"  rel="nofollow">weechat</a>, <a href="https://hexchat.github.io/" class="urlextern" title="https://hexchat.github.io/"  rel="nofollow">Hexchat</a>, <a href="http://www.mirc.com/" class="urlextern" title="http://www.mirc.com/"  rel="nofollow">mIRC</a>, telnet/netcat, … ou utiliser directement un client web <a href="http://irc.lc/the-delta.net" class="urlextern" title="http://irc.lc/the-delta.net"  rel="nofollow">http://irc.lc/the-delta.net</a>, <a href="https://kiwiirc.com/client/the-delta.net/" class="urlextern" title="https://kiwiirc.com/client/the-delta.net/"  rel="nofollow">kiwi IRC</a>(<a href="https://kiwiirc.com/client/the-delta.net:+6667/" class="urlextern" title="https://kiwiirc.com/client/the-delta.net:+6667/"  rel="nofollow">SSL</a>), <a href="https://chat.mibbit.com/?url=irc%3A%2F%2Fthe-delta.net%2F" class="urlextern" title="https://chat.mibbit.com/?url=irc%3A%2F%2Fthe-delta.net%2F"  rel="nofollow">mibbit</a>(<a href="https://chat.mibbit.com/?url=irc%3A%2F%2Fthe-delta.net%3A+6697%2F" class="urlextern" title="https://chat.mibbit.com/?url=irc%3A%2F%2Fthe-delta.net%3A+6697%2F"  rel="nofollow">SSL</a>), … Tapez la commande <code>/join &lt;salon&gt;</code> pour rejoindre un salon (exemple: <code>/join #The-delta</code>), pour avoir d’autres commandes tapez <code>/help</code>.
</p>

<p>
Si vous voulez héberger un serveur <abbr title="Internet Relay Chat">IRC</abbr> dans le réseau the-delta.net, demandez à <a href="/doku.php?id=user:lanodan" class="wikilink1" title="user:lanodan">lanodan</a> (pour l’instant c’est le seul administrateur).
</p>
<ul>
<li class="level1"><div class="li"> Hosts :</div>
<ul>
<li class="level2"><div class="li"> dedi.geluti.org</div>
</li>
<li class="level2"><div class="li"> the-delta.net</div>
</li>
</ul>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> Ports :</div>
<ul>
<li class="level2"><div class="li"> 6667 : Déconseillé car non sécurisé</div>
</li>
<li class="level2"><div class="li"> 6697 : (<a href="/doku.php?id=user:lanodan" class="wikilink1" title="user:lanodan">lanodan</a> était une merde en certificats SSL) Le SSL est important car permet de sécuriser la communication.</div>
</li>
</ul>
</li>
</ul>

<p>
 → <a href="/doku.php?id=irc" class="wikilink1" title="irc">Plus d’informations</a>
</p>

</div>
<!-- EDIT4 SECTION "Serveur IRC" [1200-] -->