
<h2 class="sectionedit1" id="intro">Intro</h2>
<div class="level2">

<p>
the-game is a 3D (other dimensions can exist) game directed to free creation(Think of being in a 3D editor). It’s inspired by Minecraft and Garry’s Mod for open-world and creativity and <abbr title="Internet Relay Chat">IRC</abbr> for network. This game hasn’t got any goal althrough, a RPG-style scenario is planned.
</p>

</div>
<!-- EDIT1 SECTION "Intro" [1-302] -->
<h2 class="sectionedit2" id="install">Install</h2>
<div class="level2">

<p>
The usual <code> ./configure ; make ; make install </code> The game should be launchable via command-line <code>the-game</code> or via the application menu » Games » “The-Delta”
</p>

</div>
<!-- EDIT2 SECTION "Install" [303-485] -->
<h2 class="sectionedit3" id="network">Network</h2>
<div class="level2">

<p>
The network is working in relays (<abbr title="Internet Relay Chat">IRC</abbr>-like) with every peer beeing a client and a host at the same time(beeing a host or client can be disabled). At the time beeing (2014-11-24) there is no default port. Lossy data packets like the map are transmitted whith UDP, lossless whith TCP.
</p>

<p>
Lossy data packets:
</p>
<ul>
<li class="level1"><div class="li"> map</div>
</li>
<li class="level1"><div class="li"> voice</div>
</li>
<li class="level1"><div class="li"> Player modifications (movement, …)</div>
</li>
</ul>

<p>
Lossless data packets:
</p>
<ul>
<li class="level1"><div class="li"> chat</div>
</li>
<li class="level1"><div class="li"> Player reference (position), action</div>
</li>
</ul>

<p>
It is based on <abbr title="Internet Relay Chat">IRC</abbr>. Some commands may be modified or added so everything is re-documented here (using regex). Commands are case-insensitive and written in UPPER, variables are written in lower. Encoding is (as always) in utf-8.
</p>

</div>
<!-- EDIT3 SECTION "Network" [486-1171] -->
<h3 class="sectionedit4" id="irc_based_commands">IRC Based commands</h3>
<div class="level3">

<p>
<code>NICK nick</code>
</p>
<pre class="code">Set your nick to the hoster peer.</pre>

<p>
<code>PASSWD passwd</code>
</p>
<pre class="code">Send a passwd to the hoster peer.</pre>

<p>
<code>PRIVMSG (nick|channel) :message</code>
</p>
<pre class="code">Send a message to a nick or a channel.</pre>

<p>
<code>NOTICE (nick|channel) :message</code>
</p>
<pre class="code">Like PRIVMSG but doesn’t open a new window.</pre>

<p>
<code>JOIN channel</code>
</p>
<pre class="code">Join a channel.</pre>

<p>
<code>TOPIC channel :topic</code>
</p>
<pre class="code">Set the topic of the channel.</pre>

<p>
<code>CONNECT (ip|hostname)</code>
</p>
<pre class="code">Connect to another peer.</pre>

<p>
<code>INVITE (nick|channel|ip|hostname) TO (channel|ip|hostname)( : comment)?</code>
</p>
<pre class="code">Invite peer(s) to another, you can optionally give a comment/message/whatever to the other peers.</pre>

</div>
<!-- EDIT4 SECTION "IRC Based commands" [1172-1785] -->
<h3 class="sectionedit5" id="other_commands">Other commands</h3>
<div class="level3">

<p>
<code>ASK (channel|mask|also, a comma-separated, list|ALL) (CHOICES add, some, usefull, choices)? : question</code>
</p>
<pre class="code">Ask something to a channel, choices are added to yes/no/I don’t care.</pre>

<p>
<code>VOTE nick choice(: comment)?</code>
</p>
<pre class="code">Vote for a previous asked question, you can optionnaly give a comment (Will be public)</pre>

</div>
<!-- EDIT5 SECTION "Other commands" [1786-2113] -->
<h2 class="sectionedit6" id="filesdirectories">Files/Directories</h2>
<div class="level2">

<p>
System:
</p>
<ul>
<li class="level1"><div class="li"> <code>/usr/bin/the-game</code> </div>
</li>
<li class="level1"><div class="li"> <code>/usr/bin/the-game-$(version)</code> </div>
</li>
<li class="level1"><div class="li"> <code>/usr/local/the-game/</code></div>
</li>
<li class="level1"><div class="li"> <code>/usr/local/the-game-$(version)/</code></div>
</li>
</ul>

<p>
User:
</p>
<ul>
<li class="level1"><div class="li"> <code>~/.the-game/</code></div>
</li>
<li class="level1"><div class="li"> <code>~/.the-game-$version)/</code></div>
</li>
</ul>

<p>
Release versions are in the format: Major.Minor.Patch
Patch increment for fixes or minor features, Minor for compatible new features, and Major on incompatible changes.
</p>

<p>
I hope this game actually never finnish. (as it’s a open-participative-game)
</p>

</div>
<!-- EDIT6 SECTION "Files/Directories" [2114-] -->