
<h2 class="sectionedit1" id="conceptfonctionnement">Concept/Fonctionnement</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Ouvert &amp; libre (CC-BY-SA)</div>
</li>
<li class="level1"><div class="li"> Décentralisé (pas de serveur, donc immortel)</div>
</li>
<li class="level1"><div class="li"> Modulaire</div>
</li>
<li class="level1"><div class="li"> Tchat basé sur de l&#039;<abbr title="Internet Relay Chat">IRC</abbr></div>
</li>
</ul>

</div>
<!-- EDIT1 SECTION "Concept/Fonctionnement" [1-160] -->
<h2 class="sectionedit2" id="plateformes_prevues">Plateformes prévues</h2>
<div class="level2">

<p>
(par ordre de priorité)
</p>
<ul>
<li class="level1"><div class="li"> <abbr title="Gnu is Not Unix">GNU</abbr>/<abbr title="Linux is not UNIX">Linux</abbr></div>
</li>
<li class="level1"><div class="li"> UNIX (*<abbr title="Bekerley System Distribution">BSD</abbr> &amp; <abbr title="Operating System">OS</abbr> X)</div>
</li>
<li class="level1"><div class="li"> Windows (<abbr title="Portable Operating System Interface">POSIX</abbr> plz)</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Plateformes prévues" [161-280] -->
<h2 class="sectionedit3" id="contribuer">Contribuer</h2>
<div class="level2">

<p>
Si le projet vous intéresse vous pouvez nous contacter par courriel et/ou plagier comme bon vous semble ! ;D Il suffit d&#039;utiliser une license CC-BY-SA ou compatible. N&#039;hésitez pas a vous proposer ! <em> Feel free to Hack ! </em>
</p>

</div>
<!-- EDIT3 SECTION "Contribuer" [281-] -->