<div class="inline dataplugin_entry users sectionedit1"><dl><dt class="titre">titre<span class="sep">: </span></dt><dd class="titre">Fondateur</dd><dt class="personnage">personnage<span class="sep">: </span></dt><dd class="personnage">Loup, Humain 2.0, Poney</dd></dl></div><!-- EDIT1 PLUGIN_DATA [1-103] --><ul>
<li class="level1"><div class="li"> GPG: (0x4BBEBBAD) 8E4B AA5E E6FB D5A8 D04F  3BE5 C873 8479 4BBE BBAD </div>
</li>
<li class="level1"><div class="li"> Mail: haelwenn.monnier@free.fr</div>
</li>
<li class="level1"><div class="li"> <abbr title="Extensible Messaging and Presence Protocol">XMPP</abbr>/Jabber: lanodan@jappix.com</div>
</li>
<li class="level1"><div class="li"> Twitter: @lanodan</div>
</li>
<li class="level1"><div class="li"> Site: <a href="http://lanodan.the-delta.net/" class="urlextern" title="http://lanodan.the-delta.net/"  rel="nofollow">http://lanodan.the-delta.net/</a></div>
</li>
</ul>
