
<h1 class="sectionedit1" id="liens_contacts">Liens &amp; Contacts</h1>
<div class="level1">

<p>
Mail : <a href="mailto:&#x74;&#x68;&#x65;&#x2d;&#x64;&#x65;&#x6c;&#x74;&#x61;&#x40;&#x6d;&#x61;&#x69;&#x6c;&#x6f;&#x6f;&#x2e;&#x6f;&#x72;&#x67;" class="mail" title="&#x74;&#x68;&#x65;&#x2d;&#x64;&#x65;&#x6c;&#x74;&#x61;&#x40;&#x6d;&#x61;&#x69;&#x6c;&#x6f;&#x6f;&#x2e;&#x6f;&#x72;&#x67;">&#x74;&#x68;&#x65;&#x2d;&#x64;&#x65;&#x6c;&#x74;&#x61;&#x40;&#x6d;&#x61;&#x69;&#x6c;&#x6f;&#x6f;&#x2e;&#x6f;&#x72;&#x67;</a>
</p>

<p>
Twitter (news) : <a href="http://twitter.com/theDeltaNet" class="urlextern" title="http://twitter.com/theDeltaNet"  rel="nofollow">@TheDeltaNet</a>
</p>

<p>
Tumblr (blog) : <a href="http://the-delta.tumblr.com" class="urlextern" title="http://the-delta.tumblr.com"  rel="nofollow">http://the-delta.tumblr.com</a>
</p>

<p>
Github (source) : <a href="http://github.com/the-delta" class="urlextern" title="http://github.com/the-delta"  rel="nofollow">http://github.com/the-delta</a>
</p>

<p>
THE_GAME : <a href="/doku.php?id=the-delta" class="wikilink1" title="the-delta">the-delta</a>
</p>

</div>
