
<h1 class="sectionedit1" id="section20102011">~ 2010~2011</h1>
<div class="level1">

<p>
Le projet était de faire un serveur minecraft commercialisé, comme Minefield mais ouvert aux versions craqués vus que on avait pas payé le jeu. Il y avait <em>Pericles2000</em>, <em>kiou0235</em> et <em><a href="/doku.php?id=user:lanodan" class="wikilink1" title="user:lanodan">haelwenn753(aka. Haelwenn (lanodan) Monnier)</a></em>, <em>ivanovitch</em>, dans la salle du CDI de notre collège. Quelques jours plus tard <em>toothless6reach</em> nous avait rejoins sur le serveur hébergé par lanodan. Il finit par expérimenter divers plugins directement sur le serveur (pas mal de membres se sont plaint de grosses latences). <em>Mutsumi_623</em> nous rejoignit grâce à <em>toothless6reach</em>. <a href="/doku.php?id=user:lanodan" class="wikilink1" title="user:lanodan">lanodan</a> fit un “superbe” site web (ouais, bon ok il était dégueulasse) et fit un peu de pub du serveur, malheureusement ceci attirât un groupe de joueurs qui ont détruit le monde principal, il y a donc eu l’idée de mettre des règles(qui malheureusement ne furent pas faites en consensus et petit a petit oubliées).
</p>

</div>
<!-- EDIT1 SECTION "~ 2010~2011" [1-965] -->
<h1 class="sectionedit2" id="section20132014">2013 ~ 2014</h1>
<div class="level1">

<p>
Le serveur finit par perdre un peu de membres, l’idée de commercialiser le serveur partit avec Kiou0235, lanodan invitât Qwan_D_mon et Namor_roisdesmers. Le serveur restât ensuite de nombreux mois sans personne dessus, une partie de la map principale avait bugué, lanodan refit une nouvelle map qui servit seulement à fêter un anniversaire de The-Delta avec juste Mutsumi_623. En parallèle un serveur minecraft forge vus le jour avec plus de 200 mods (lanodan a un *peu* la folie des grandeurs) et invitât TheApex96 et NyanKiyoshi a le rejoindre. Les 2 serveurs finirent par être supprimé pour un nouveau serveur, le serveur Potos, son principe est d’y être entre potes, il y eu happire, lanodan(faites pas attention il s’occupe de tout depuis 3 ans), Mutsumi_623, <a href="/doku.php?id=user:namor" class="wikilink1" title="user:namor">Namor_Roisdesmers</a>, NecKxesS, Qwan_D_mon, toothless6reach et WiikBear. Le serveur fut refait 2 fois à cause de bugs dans la map (encore a cause d’une mise à jour). Lanodan créa la règle “Ne pas détruire une personne ou ses créations” (la règle existait déjà plus ou moins entre les membres et personne a contesté).
</p>

<p>
Lanodan arretât le serveur minecraft Potos le 2014-09-04 (04 Septembre) car il a pris son ordinateur qui servait de serveur avec lui. Seul le serveur web et <abbr title="Internet Relay Chat">IRC</abbr> restât en ligne(avec seulement une coupure de connexion au changement de machine).
</p>

<p>
<strong>2014-11-06~07</strong> Un serveur <abbr title="Internet Relay Chat">IRC</abbr> relais fut créer sur le serveur geluti.org à l’adresse the-delta.geluti.org grâce à <a href="http://twitter.com/Tsigorf" class="urlextern" title="http://twitter.com/Tsigorf"  rel="nofollow">@Tsigorf</a>.
</p>

<p>
<strong>2014-11-19</strong> une coupure eu lieu sur le domaine the-delta.net(the-delta.geluti.org était toujours en ligne), car le resolver, DNSever a coupé l’accès, qui fut remis vers 14:20.
</p>

<p>
<strong>2014-12</strong> Le serveur relais geluti est down et les règles sont supprimés.
</p>

</div>
<!-- EDIT2 SECTION "2013 ~ 2014" [966-] -->