
<h1 class="sectionedit1" id="interface_sqlite">Interface SQLite</h1>
<div class="level1">

<p>
Cette page vous permet de vous connecter directement aux bases de données SQLite existantes. Sélectionnez une base de données depuis la table des matières et entrez vos commandes SQL.
</p>

</div>
