
<p>
Cette page contient les informations concernant l’administration système et réseau. D’autres sujets seront peut-être a venir.
</p>

<h1 class="sectionedit1" id="administration_systeme_et_reseau">Administration système et réseau</h1>
<div class="level1">

<p>
Les journaux(logs) conservé sont seulement les erreurs et l’user-agent(<a href="https://fr.wikipedia.org/wiki/User-agent" class="urlextern" title="https://fr.wikipedia.org/wiki/User-agent"  rel="nofollow">Wikipédia</a>), ce dernier étant nettoyé de temps en temps en 2 fichiers, un de statistiques et un autre qui liste les différents user-agent. Voici la configuration du serveur apache du le 2015-01-02 23:04:22
</p>
<dl class="file">
<dt><a href="/doku.php?do=export_code&amp;id=administration&amp;codeblock=0" title="Télécharger un extrait" class="mediafile mf_conf">http.conf</a></dt>
<dd><pre class="code file apache">&lt;<span class="kw3">VirtualHost</span> *:<span class="nu0">80</span>&gt;
        <span class="kw1">DocumentRoot</span> /srv/web/net/the-delta/
        &lt;<span class="kw3">Directory</span> /&gt;
                <span class="kw1">Options</span> <span class="kw2">Indexes</span> <span class="kw2">FollowSymLinks</span> MultiViews
                <span class="kw1">AllowOverride</span> <span class="kw2">None</span>
                <span class="kw1">Order</span> <span class="kw1">allow</span>,<span class="kw1">deny</span>
                <span class="kw1">allow</span> from <span class="kw2">all</span>
        &lt;/<span class="kw3">Directory</span>&gt;
&nbsp;
        <span class="kw1">Alias</span> /munin/ /var/cache/munin/www/
        &lt;<span class="kw3">Directory</span> /var/cache/munin/www/&gt;
                <span class="kw1">Options</span> <span class="kw2">Indexes</span> <span class="kw2">FollowSymLinks</span> MultiViews
                <span class="kw1">AllowOverride</span> <span class="kw2">None</span>
                <span class="kw1">Order</span> <span class="kw1">allow</span>,<span class="kw1">deny</span>
                <span class="kw1">allow</span> from <span class="kw2">all</span>
        &lt;/<span class="kw3">Directory</span>&gt;
&nbsp;
        <span class="kw1">ScriptAlias</span> /munin-cgi/munin-cgi-graph /usr/lib/munin/cgi/munin-cgi-graph
        &lt;<span class="kw3">Location</span> /var/cache/munin-cgi/www/&gt;
                <span class="kw1">Options</span> +ExecCGI
                &lt;<span class="kw3">IfModule</span> mod_fcgid.c&gt;
                        <span class="kw1">SetHandler</span> fcgid-<span class="kw1">script</span>
                &lt;/<span class="kw3">IfModule</span>&gt;
                &lt;<span class="kw3">IfModule</span> mod_fastcgi.c&gt;
                        <span class="kw1">SetHandler</span> fastcgi-<span class="kw1">script</span>
                &lt;/<span class="kw3">IfModule</span>&gt;
                &lt;<span class="kw3">IfModule</span> !mod_fastcgi.c&gt;
                        &lt;<span class="kw3">IfModule</span> !mod_fcgid.c&gt;
                                <span class="kw1">SetHandler</span> cgi-<span class="kw1">script</span>
                        &lt;/<span class="kw3">IfModule</span>&gt;
                &lt;/<span class="kw3">IfModule</span>&gt;
        <span class="kw1">Allow</span> from <span class="kw2">all</span>
        &lt;/<span class="kw3">Location</span>&gt;
&nbsp;
        <span class="kw1">ScriptAlias</span> /munin-cgi/munin-cgi-html /usr/lib/munin/cgi/munin-cgi-html
        &lt;<span class="kw3">Location</span> /munin-cgi/munin-cgi-html&gt;
                <span class="kw1">Options</span> +ExecCGI
                &lt;<span class="kw3">IfModule</span> mod_fcgid.c&gt;
                        <span class="kw1">SetHandler</span> fcgid-<span class="kw1">script</span>
                &lt;/<span class="kw3">IfModule</span>&gt;
                &lt;<span class="kw3">IfModule</span> mod_fastcgi.c&gt;
                        <span class="kw1">SetHandler</span> fastcgi-<span class="kw1">script</span>
                &lt;/<span class="kw3">IfModule</span>&gt;
                &lt;<span class="kw3">IfModule</span> !mod_fastcgi.c&gt;
                        &lt;<span class="kw3">IfModule</span> !mod_fcgid.c&gt;
                                <span class="kw1">SetHandler</span> cgi-<span class="kw1">script</span>
                        &lt;/<span class="kw3">IfModule</span>&gt;
                &lt;/<span class="kw3">IfModule</span>&gt;
                <span class="kw1">Allow</span> from <span class="kw2">all</span>
        &lt;/<span class="kw3">Location</span>&gt;
&nbsp;
        <span class="co1"># Possible values include: debug, info, notice, warn, error, crit,</span>
        <span class="co1"># alert, emerg.</span>
        <span class="kw1">LogLevel</span> warn
&nbsp;
        <span class="kw1">CustomLog</span> ${APACHE_LOG_DIR}/user-agent.log user-agent
        <span class="kw1">ErrorLog</span> ${APACHE_LOG_DIR}/error.log
&lt;/<span class="kw3">VirtualHost</span>&gt;   
&lt;<span class="kw3">VirtualHost</span> *:<span class="nu0">80</span>&gt;
        <span class="kw1">ServerName</span> www.the-delta.net
        <span class="kw1">DocumentRoot</span> /srv/web/net/the-delta/www/
        &lt;<span class="kw3">Directory</span> /&gt;
                <span class="kw1">Options</span> <span class="kw2">Indexes</span> <span class="kw2">FollowSymLinks</span> MultiViews
                <span class="kw1">AllowOverride</span> <span class="kw2">None</span>
                <span class="kw1">Order</span> <span class="kw1">allow</span>,<span class="kw1">deny</span>
                <span class="kw1">allow</span> from <span class="kw2">all</span>
        &lt;/<span class="kw3">Directory</span>&gt;
&nbsp;
        <span class="co1"># Possible values include: debug, info, notice, warn, error, crit,</span>
        <span class="co1"># alert, emerg.</span>
        <span class="kw1">LogLevel</span> warn
&nbsp;
        <span class="kw1">CustomLog</span> ${APACHE_LOG_DIR}/user-agent.log user-agent
        <span class="kw1">ErrorLog</span> ${APACHE_LOG_DIR}/www.the-delta.net.log
&lt;/<span class="kw3">VirtualHost</span>&gt;
&nbsp;
<span class="co1"># Website of lanodan</span>
&lt;<span class="kw3">VirtualHost</span> *:<span class="nu0">80</span>&gt;
        <span class="kw1">ServerName</span> lanodan.fr.to
        <span class="kw1">DocumentRoot</span> /srv/web/fr.to/lanodan/
        &lt;<span class="kw3">Directory</span> /&gt;
                <span class="kw1">Options</span> <span class="kw2">Indexes</span> <span class="kw2">FollowSymLinks</span> MultiViews
                <span class="kw1">AllowOverride</span> <span class="kw2">None</span>
                <span class="kw1">Order</span> <span class="kw1">allow</span>,<span class="kw1">deny</span>
                <span class="kw1">allow</span> from <span class="kw2">all</span>
        &lt;/<span class="kw3">Directory</span>&gt;
&nbsp;
        <span class="co1"># Possible values include: debug, info, notice, warn, error, crit,</span>
        <span class="co1"># alert, emerg.</span>
        <span class="kw1">LogLevel</span> warn
&nbsp;
        <span class="kw1">CustomLog</span> ${APACHE_LOG_DIR}/user-agent.log user-agent
        <span class="kw1">ErrorLog</span> ${APACHE_LOG_DIR}/lanodan.fr.to.log
&lt;/<span class="kw3">VirtualHost</span>&gt;
&nbsp;
<span class="co1"># Hackish way to provide access to my laptop   </span>
&lt;<span class="kw3">VirtualHost</span> *:<span class="nu0">80</span>&gt;
    <span class="kw1">ServerName</span> derpi.the-delta.net
&nbsp;
    <span class="kw1">ProxyPass</span> / http://bulkeps.the-delta.net/
    <span class="kw1">ProxyPassReverse</span> / http://bulkeps.the-delta.net/
&lt;/<span class="kw3">VirtualHost</span>&gt;   </pre>
</dd></dl>

</div>
<!-- EDIT1 SECTION "Administration système et réseau" [134-] -->