
<p>
Ceci sont des extraits des canaux <abbr title="Internet Relay Chat">IRC</abbr> de The-Delta. Il est préférable de demander avant aux personnes citées et de supprimer des informations plus ou moins privées.
</p>
<pre class="code">[En parlant des différents messages d’erreur de IRC]
01:55:20 &lt;@lanodan&gt; En tout cas Blueghost a pas de probleme de ping ^^
01:55:45 &lt;@lanodan&gt; (il a quand meme sortit un IO error ;D)
01:59:41 *Blueghost has quit [Read error: Input/output error]</pre>

<p>
2015-01-08
</p>
<pre class="code">19:36:48 &lt;@lanodan&gt; tu enfile un bout dans le trou
19:36:58 &lt;@fuyuneko&gt; bah ça rentre pas D;</pre>
