@media screen {
  a.interwiki {
    background: transparent url(/lib/images/interwiki.png) 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
  }
  a.iw_wp {
    background-image: url(/lib/images/interwiki/wp.gif);
  }
  a.iw_wpfr {
    background-image: url(/lib/images/interwiki/wpfr.gif);
  }
  a.iw_wpde {
    background-image: url(/lib/images/interwiki/wpde.gif);
  }
  a.iw_wpes {
    background-image: url(/lib/images/interwiki/wpes.gif);
  }
  a.iw_wppl {
    background-image: url(/lib/images/interwiki/wppl.gif);
  }
  a.iw_wpjp {
    background-image: url(/lib/images/interwiki/wpjp.gif);
  }
  a.iw_wpmeta {
    background-image: url(/lib/images/interwiki/wpmeta.gif);
  }
  a.iw_doku {
    background-image: url(/lib/images/interwiki/doku.gif);
  }
  a.iw_dokubug {
    background-image: url(/lib/images/interwiki/dokubug.gif);
  }
  a.iw_amazon {
    background-image: url(/lib/images/interwiki/amazon.gif);
  }
  a.iw_amazon_de {
    background-image: url(/lib/images/interwiki/amazon.de.gif);
  }
  a.iw_amazon_uk {
    background-image: url(/lib/images/interwiki/amazon.uk.gif);
  }
  a.iw_paypal {
    background-image: url(/lib/images/interwiki/paypal.gif);
  }
  a.iw_phpfn {
    background-image: url(/lib/images/interwiki/phpfn.gif);
  }
  a.iw_coral {
    background-image: url(/lib/images/interwiki/coral.gif);
  }
  a.iw_sb {
    background-image: url(/lib/images/interwiki/sb.gif);
  }
  a.iw_skype {
    background-image: url(/lib/images/interwiki/skype.gif);
  }
  a.iw_user {
    background-image: url(/lib/images/interwiki/user.png);
  }
  a.iw_callto {
    background-image: url(/lib/images/interwiki/callto.gif);
  }
  .mediafile {
    background: transparent url(/lib/images/fileicons/file.png) 0px 1px no-repeat;
    padding-left: 18px;
    padding-bottom: 1px;
  }
  .mf_doc {
    background-image: url(/lib/images/fileicons/doc.png);
  }
  .mf_odp {
    background-image: url(/lib/images/fileicons/odp.png);
  }
  .mf_xls {
    background-image: url(/lib/images/fileicons/xls.png);
  }
  .mf_txt {
    background-image: url(/lib/images/fileicons/txt.png);
  }
  .mf_bash {
    background-image: url(/lib/images/fileicons/bash.png);
  }
  .mf_tgz {
    background-image: url(/lib/images/fileicons/tgz.png);
  }
  .mf_rb {
    background-image: url(/lib/images/fileicons/rb.png);
  }
  .mf_sh {
    background-image: url(/lib/images/fileicons/sh.png);
  }
  .mf_odg {
    background-image: url(/lib/images/fileicons/odg.png);
  }
  .mf_wav {
    background-image: url(/lib/images/fileicons/wav.png);
  }
  .mf_java {
    background-image: url(/lib/images/fileicons/java.png);
  }
  .mf_gif {
    background-image: url(/lib/images/fileicons/gif.png);
  }
  .mf_hpp {
    background-image: url(/lib/images/fileicons/hpp.png);
  }
  .mf_zip {
    background-image: url(/lib/images/fileicons/zip.png);
  }
  .mf_html {
    background-image: url(/lib/images/fileicons/html.png);
  }
  .mf_asm {
    background-image: url(/lib/images/fileicons/asm.png);
  }
  .mf_sxi {
    background-image: url(/lib/images/fileicons/sxi.png);
  }
  .mf_ico {
    background-image: url(/lib/images/fileicons/ico.png);
  }
  .mf_gz {
    background-image: url(/lib/images/fileicons/gz.png);
  }
  .mf_c {
    background-image: url(/lib/images/fileicons/c.png);
  }
  .mf_ogv {
    background-image: url(/lib/images/fileicons/ogv.png);
  }
  .mf_mp3 {
    background-image: url(/lib/images/fileicons/mp3.png);
  }
  .mf_swf {
    background-image: url(/lib/images/fileicons/swf.png);
  }
  .mf_sxc {
    background-image: url(/lib/images/fileicons/sxc.png);
  }
  .mf_rtf {
    background-image: url(/lib/images/fileicons/rtf.png);
  }
  .mf_jpg {
    background-image: url(/lib/images/fileicons/jpg.png);
  }
  .mf_css {
    background-image: url(/lib/images/fileicons/css.png);
  }
  .mf_odf {
    background-image: url(/lib/images/fileicons/odf.png);
  }
  .mf_png {
    background-image: url(/lib/images/fileicons/png.png);
  }
  .mf_py {
    background-image: url(/lib/images/fileicons/py.png);
  }
  .mf_diff {
    background-image: url(/lib/images/fileicons/diff.png);
  }
  .mf_xlsx {
    background-image: url(/lib/images/fileicons/xlsx.png);
  }
  .mf_csv {
    background-image: url(/lib/images/fileicons/csv.png);
  }
  .mf_js {
    background-image: url(/lib/images/fileicons/js.png);
  }
  .mf_rpm {
    background-image: url(/lib/images/fileicons/rpm.png);
  }
  .mf_php {
    background-image: url(/lib/images/fileicons/php.png);
  }
  .mf_htm {
    background-image: url(/lib/images/fileicons/htm.png);
  }
  .mf_cs {
    background-image: url(/lib/images/fileicons/cs.png);
  }
  .mf_h {
    background-image: url(/lib/images/fileicons/h.png);
  }
  .mf_odt {
    background-image: url(/lib/images/fileicons/odt.png);
  }
  .mf_ppt {
    background-image: url(/lib/images/fileicons/ppt.png);
  }
  .mf_json {
    background-image: url(/lib/images/fileicons/json.png);
  }
  .mf_conf {
    background-image: url(/lib/images/fileicons/conf.png);
  }
  .mf_lua {
    background-image: url(/lib/images/fileicons/lua.png);
  }
  .mf_rar {
    background-image: url(/lib/images/fileicons/rar.png);
  }
  .mf_sql {
    background-image: url(/lib/images/fileicons/sql.png);
  }
  .mf_sxw {
    background-image: url(/lib/images/fileicons/sxw.png);
  }
  .mf_odi {
    background-image: url(/lib/images/fileicons/odi.png);
  }
  .mf_pdf {
    background-image: url(/lib/images/fileicons/pdf.png);
  }
  .mf_pl {
    background-image: url(/lib/images/fileicons/pl.png);
  }
  .mf_xml {
    background-image: url(/lib/images/fileicons/xml.png);
  }
  .mf_deb {
    background-image: url(/lib/images/fileicons/deb.png);
  }
  .mf_webm {
    background-image: url(/lib/images/fileicons/webm.png);
  }
  .mf_cc {
    background-image: url(/lib/images/fileicons/cc.png);
  }
  .mf_odc {
    background-image: url(/lib/images/fileicons/odc.png);
  }
  .mf_pptx {
    background-image: url(/lib/images/fileicons/pptx.png);
  }
  .mf_docx {
    background-image: url(/lib/images/fileicons/docx.png);
  }
  .mf_tar {
    background-image: url(/lib/images/fileicons/tar.png);
  }
  .mf_pas {
    background-image: url(/lib/images/fileicons/pas.png);
  }
  .mf_ods {
    background-image: url(/lib/images/fileicons/ods.png);
  }
  .mf_ps {
    background-image: url(/lib/images/fileicons/ps.png);
  }
  .mf_csh {
    background-image: url(/lib/images/fileicons/csh.png);
  }
  .mf_cpp {
    background-image: url(/lib/images/fileicons/cpp.png);
  }
  .mf_7z {
    background-image: url(/lib/images/fileicons/7z.png);
  }
  .mf_jpeg {
    background-image: url(/lib/images/fileicons/jpeg.png);
  }
  .mf_sxd {
    background-image: url(/lib/images/fileicons/sxd.png);
  }
  .mf_ogg {
    background-image: url(/lib/images/fileicons/ogg.png);
  }
  .mf_mp4 {
    background-image: url(/lib/images/fileicons/mp4.png);
  }
  .mf_bz2 {
    background-image: url(/lib/images/fileicons/bz2.png);
  }
}
@media screen {
  .ui-helper-hidden {
    display: none;
  }
  .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
  }
  .ui-helper-clearfix:before,
  .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
  }
  .ui-helper-clearfix:after {
    clear: both;
  }
  .ui-helper-clearfix {
    min-height: 0;
  }
  .ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
  }
  .ui-front {
    z-index: 100;
  }
  .ui-state-disabled {
    cursor: default !important;
  }
  .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
  }
  .ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin-top: 2px;
    padding: .5em .5em .5em .7em;
    min-height: 0;
  }
  .ui-accordion .ui-accordion-icons {
    padding-left: 2.2em;
  }
  .ui-accordion .ui-accordion-noicons {
    padding-left: .7em;
  }
  .ui-accordion .ui-accordion-icons .ui-accordion-icons {
    padding-left: 2.2em;
  }
  .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
  }
  .ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    overflow: auto;
  }
  .ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
  }
  .ui-button {
    display: inline-block;
    position: relative;
    padding: 0;
    line-height: normal;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
  }
  .ui-button,
  .ui-button:link,
  .ui-button:visited,
  .ui-button:hover,
  .ui-button:active {
    text-decoration: none;
  }
  .ui-button-icon-only {
    width: 2.2em;
  }
  button.ui-button-icon-only {
    width: 2.4em;
  }
  .ui-button-icons-only {
    width: 3.4em;
  }
  button.ui-button-icons-only {
    width: 3.7em;
  }
  .ui-button .ui-button-text {
    display: block;
    line-height: normal;
  }
  .ui-button-text-only .ui-button-text {
    padding: .4em 1em;
  }
  .ui-button-icon-only .ui-button-text,
  .ui-button-icons-only .ui-button-text {
    padding: .4em;
    text-indent: -9999999px;
  }
  .ui-button-text-icon-primary .ui-button-text,
  .ui-button-text-icons .ui-button-text {
    padding: .4em 1em .4em 2.1em;
  }
  .ui-button-text-icon-secondary .ui-button-text,
  .ui-button-text-icons .ui-button-text {
    padding: .4em 2.1em .4em 1em;
  }
  .ui-button-text-icons .ui-button-text {
    padding-left: 2.1em;
    padding-right: 2.1em;
  }
  input.ui-button {
    padding: .4em 1em;
  }
  .ui-button-icon-only .ui-icon,
  .ui-button-text-icon-primary .ui-icon,
  .ui-button-text-icon-secondary .ui-icon,
  .ui-button-text-icons .ui-icon,
  .ui-button-icons-only .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
  }
  .ui-button-icon-only .ui-icon {
    left: 50%;
    margin-left: -8px;
  }
  .ui-button-text-icon-primary .ui-button-icon-primary,
  .ui-button-text-icons .ui-button-icon-primary,
  .ui-button-icons-only .ui-button-icon-primary {
    left: .5em;
  }
  .ui-button-text-icon-secondary .ui-button-icon-secondary,
  .ui-button-text-icons .ui-button-icon-secondary,
  .ui-button-icons-only .ui-button-icon-secondary {
    right: .5em;
  }
  .ui-buttonset {
    margin-right: 7px;
  }
  .ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: -0.3em;
  }
  input.ui-button::-moz-focus-inner,
  button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  .ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
  }
  .ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
  }
  .ui-datepicker .ui-datepicker-prev,
  .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
  }
  .ui-datepicker .ui-datepicker-prev-hover,
  .ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
  }
  .ui-datepicker .ui-datepicker-prev {
    left: 2px;
  }
  .ui-datepicker .ui-datepicker-next {
    right: 2px;
  }
  .ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
  }
  .ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
  }
  .ui-datepicker .ui-datepicker-prev span,
  .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
  }
  .ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
  }
  .ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
  }
  .ui-datepicker select.ui-datepicker-month,
  .ui-datepicker select.ui-datepicker-year {
    width: 49%;
  }
  .ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
  }
  .ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
  }
  .ui-datepicker td {
    border: 0;
    padding: 1px;
  }
  .ui-datepicker td span,
  .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
  }
  .ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
  }
  .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
  }
  .ui-datepicker.ui-datepicker-multi {
    width: auto;
  }
  .ui-datepicker-multi .ui-datepicker-group {
    float: left;
  }
  .ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
  }
  .ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
  }
  .ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
  }
  .ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
  }
  .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
  .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
  }
  .ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
  }
  .ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
  }
  .ui-datepicker-rtl {
    direction: rtl;
  }
  .ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
  }
  .ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
  }
  .ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
  }
  .ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
  }
  .ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
  }
  .ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
  }
  .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
  .ui-datepicker-rtl .ui-datepicker-group {
    float: right;
  }
  .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
  .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
  }
  .ui-dialog {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: .2em;
    outline: 0;
  }
  .ui-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative;
  }
  .ui-dialog .ui-dialog-title {
    float: left;
    margin: .1em 0;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
  }
  .ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
  }
  .ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin-top: .5em;
    padding: .3em 1em .5em .4em;
  }
  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
  }
  .ui-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer;
  }
  .ui-dialog .ui-resizable-se {
    width: 12px;
    height: 12px;
    right: -5px;
    bottom: -5px;
    background-position: 16px 16px;
  }
  .ui-draggable .ui-dialog-titlebar {
    cursor: move;
  }
  .ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    outline: none;
  }
  .ui-menu .ui-menu {
    margin-top: -3px;
    position: absolute;
  }
  .ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  }
  .ui-menu .ui-menu-divider {
    margin: 5px -2px 5px -2px;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 1px 0 0 0;
  }
  .ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: 2px .4em;
    line-height: 1.5;
    min-height: 0;
    font-weight: normal;
  }
  .ui-menu .ui-menu-item a.ui-state-focus,
  .ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
  }
  .ui-menu .ui-state-disabled {
    font-weight: normal;
    margin: .4em 0 .2em;
    line-height: 1.5;
  }
  .ui-menu .ui-state-disabled a {
    cursor: default;
  }
  .ui-menu-icons {
    position: relative;
  }
  .ui-menu-icons .ui-menu-item a {
    position: relative;
    padding-left: 2em;
  }
  .ui-menu .ui-icon {
    position: absolute;
    top: .2em;
    left: .2em;
  }
  .ui-menu .ui-menu-icon {
    position: static;
    float: right;
  }
  .ui-progressbar {
    height: 2em;
    text-align: left;
    overflow: hidden;
  }
  .ui-progressbar .ui-progressbar-value {
    margin: -1px;
    height: 100%;
  }
  .ui-progressbar .ui-progressbar-overlay {
    background: url("/lib/scripts/jquery/jquery-ui-theme/images/animated-overlay.gif");
    height: 100%;
    filter: alpha(opacity=25);
    opacity: 0.25;
  }
  .ui-progressbar-indeterminate .ui-progressbar-value {
    background-image: none;
  }
  .ui-resizable {
    position: relative;
  }
  .ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
  }
  .ui-resizable-disabled .ui-resizable-handle,
  .ui-resizable-autohide .ui-resizable-handle {
    display: none;
  }
  .ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
  }
  .ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
  }
  .ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
  }
  .ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
  }
  .ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
  }
  .ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
  }
  .ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
  }
  .ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
  }
  .ui-selectable-helper {
    position: absolute;
    z-index: 100;
    border: 1px dotted black;
  }
  .ui-slider {
    position: relative;
    text-align: left;
  }
  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
  }
  .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
  }
  .ui-slider.ui-state-disabled .ui-slider-handle,
  .ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
  }
  .ui-slider-horizontal {
    height: .8em;
  }
  .ui-slider-horizontal .ui-slider-handle {
    top: -0.3em;
    margin-left: -0.6em;
  }
  .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
  }
  .ui-slider-horizontal .ui-slider-range-min {
    left: 0;
  }
  .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
  }
  .ui-slider-vertical {
    width: .8em;
    height: 100px;
  }
  .ui-slider-vertical .ui-slider-handle {
    left: -0.3em;
    margin-left: 0;
    margin-bottom: -0.6em;
  }
  .ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
  }
  .ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
  }
  .ui-slider-vertical .ui-slider-range-max {
    top: 0;
  }
  .ui-spinner {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
  }
  .ui-spinner-input {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    margin: .2em 0;
    vertical-align: middle;
    margin-left: .4em;
    margin-right: 22px;
  }
  .ui-spinner-button {
    width: 16px;
    height: 50%;
    font-size: .5em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    cursor: default;
    display: block;
    overflow: hidden;
    right: 0;
  }
  .ui-spinner a.ui-spinner-button {
    border-top: none;
    border-bottom: none;
    border-right: none;
  }
  .ui-spinner .ui-icon {
    position: absolute;
    margin-top: -8px;
    top: 50%;
    left: 0;
  }
  .ui-spinner-up {
    top: 0;
  }
  .ui-spinner-down {
    bottom: 0;
  }
  .ui-spinner .ui-icon-triangle-1-s {
    background-position: -65px -16px;
  }
  .ui-tabs {
    position: relative;
    padding: .2em;
  }
  .ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0;
  }
  .ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
  }
  .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
  }
  .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
  }
  .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
  .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
  .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: text;
  }
  .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer;
  }
  .ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
  }
  .ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
  }
  body .ui-tooltip {
    border-width: 2px;
  }
  .ui-widget {
    font-size: 1.1em;
  }
  .ui-widget .ui-widget {
    font-size: 1em;
  }
  .ui-widget input,
  .ui-widget select,
  .ui-widget textarea,
  .ui-widget button {
    font-size: 1em;
  }
  .ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff url(/lib/scripts/jquery/jquery-ui-theme/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222222;
  }
  .ui-widget-content a {
    color: #222222;
  }
  .ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #cccccc url(/lib/scripts/jquery/jquery-ui-theme/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    color: #222222;
    font-weight: bold;
  }
  .ui-widget-header a {
    color: #222222;
  }
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(/lib/scripts/jquery/jquery-ui-theme/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #555555;
  }
  .ui-state-default a,
  .ui-state-default a:link,
  .ui-state-default a:visited {
    color: #555555;
    text-decoration: none;
  }
  .ui-state-hover,
  .ui-widget-content .ui-state-hover,
  .ui-widget-header .ui-state-hover,
  .ui-state-focus,
  .ui-widget-content .ui-state-focus,
  .ui-widget-header .ui-state-focus {
    border: 1px solid #999999;
    background: #dadada url(/lib/scripts/jquery/jquery-ui-theme/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121;
  }
  .ui-state-hover a,
  .ui-state-hover a:hover,
  .ui-state-hover a:link,
  .ui-state-hover a:visited,
  .ui-state-focus a,
  .ui-state-focus a:hover,
  .ui-state-focus a:link,
  .ui-state-focus a:visited {
    color: #212121;
    text-decoration: none;
  }
  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active {
    border: 1px solid #aaaaaa;
    background: #ffffff url(/lib/scripts/jquery/jquery-ui-theme/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121;
  }
  .ui-state-active a,
  .ui-state-active a:link,
  .ui-state-active a:visited {
    color: #212121;
    text-decoration: none;
  }
  .ui-state-highlight,
  .ui-widget-content .ui-state-highlight,
  .ui-widget-header .ui-state-highlight {
    border: 1px solid #fcefa1;
    background: #fbf9ee url(/lib/scripts/jquery/jquery-ui-theme/images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
    color: #363636;
  }
  .ui-state-highlight a,
  .ui-widget-content .ui-state-highlight a,
  .ui-widget-header .ui-state-highlight a {
    color: #363636;
  }
  .ui-state-error,
  .ui-widget-content .ui-state-error,
  .ui-widget-header .ui-state-error {
    border: 1px solid #cd0a0a;
    background: #fef1ec url(/lib/scripts/jquery/jquery-ui-theme/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
    color: #cd0a0a;
  }
  .ui-state-error a,
  .ui-widget-content .ui-state-error a,
  .ui-widget-header .ui-state-error a {
    color: #cd0a0a;
  }
  .ui-state-error-text,
  .ui-widget-content .ui-state-error-text,
  .ui-widget-header .ui-state-error-text {
    color: #cd0a0a;
  }
  .ui-priority-primary,
  .ui-widget-content .ui-priority-primary,
  .ui-widget-header .ui-priority-primary {
    font-weight: bold;
  }
  .ui-priority-secondary,
  .ui-widget-content .ui-priority-secondary,
  .ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal;
  }
  .ui-state-disabled,
  .ui-widget-content .ui-state-disabled,
  .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
  }
  .ui-state-disabled .ui-icon {
    filter: Alpha(Opacity=35);
  }
  .ui-icon {
    width: 16px;
    height: 16px;
  }
  .ui-icon,
  .ui-widget-content .ui-icon {
    background-image: url(/lib/scripts/jquery/jquery-ui-theme/images/ui-icons_222222_256x240.png);
  }
  .ui-widget-header .ui-icon {
    background-image: url(/lib/scripts/jquery/jquery-ui-theme/images/ui-icons_222222_256x240.png);
  }
  .ui-state-default .ui-icon {
    background-image: url(/lib/scripts/jquery/jquery-ui-theme/images/ui-icons_888888_256x240.png);
  }
  .ui-state-hover .ui-icon,
  .ui-state-focus .ui-icon {
    background-image: url(/lib/scripts/jquery/jquery-ui-theme/images/ui-icons_454545_256x240.png);
  }
  .ui-state-active .ui-icon {
    background-image: url(/lib/scripts/jquery/jquery-ui-theme/images/ui-icons_454545_256x240.png);
  }
  .ui-state-highlight .ui-icon {
    background-image: url(/lib/scripts/jquery/jquery-ui-theme/images/ui-icons_2e83ff_256x240.png);
  }
  .ui-state-error .ui-icon,
  .ui-state-error-text .ui-icon {
    background-image: url(/lib/scripts/jquery/jquery-ui-theme/images/ui-icons_cd0a0a_256x240.png);
  }
  .ui-icon-blank {
    background-position: 16px 16px;
  }
  .ui-icon-carat-1-n {
    background-position: 0 0;
  }
  .ui-icon-carat-1-ne {
    background-position: -16px 0;
  }
  .ui-icon-carat-1-e {
    background-position: -32px 0;
  }
  .ui-icon-carat-1-se {
    background-position: -48px 0;
  }
  .ui-icon-carat-1-s {
    background-position: -64px 0;
  }
  .ui-icon-carat-1-sw {
    background-position: -80px 0;
  }
  .ui-icon-carat-1-w {
    background-position: -96px 0;
  }
  .ui-icon-carat-1-nw {
    background-position: -112px 0;
  }
  .ui-icon-carat-2-n-s {
    background-position: -128px 0;
  }
  .ui-icon-carat-2-e-w {
    background-position: -144px 0;
  }
  .ui-icon-triangle-1-n {
    background-position: 0 -16px;
  }
  .ui-icon-triangle-1-ne {
    background-position: -16px -16px;
  }
  .ui-icon-triangle-1-e {
    background-position: -32px -16px;
  }
  .ui-icon-triangle-1-se {
    background-position: -48px -16px;
  }
  .ui-icon-triangle-1-s {
    background-position: -64px -16px;
  }
  .ui-icon-triangle-1-sw {
    background-position: -80px -16px;
  }
  .ui-icon-triangle-1-w {
    background-position: -96px -16px;
  }
  .ui-icon-triangle-1-nw {
    background-position: -112px -16px;
  }
  .ui-icon-triangle-2-n-s {
    background-position: -128px -16px;
  }
  .ui-icon-triangle-2-e-w {
    background-position: -144px -16px;
  }
  .ui-icon-arrow-1-n {
    background-position: 0 -32px;
  }
  .ui-icon-arrow-1-ne {
    background-position: -16px -32px;
  }
  .ui-icon-arrow-1-e {
    background-position: -32px -32px;
  }
  .ui-icon-arrow-1-se {
    background-position: -48px -32px;
  }
  .ui-icon-arrow-1-s {
    background-position: -64px -32px;
  }
  .ui-icon-arrow-1-sw {
    background-position: -80px -32px;
  }
  .ui-icon-arrow-1-w {
    background-position: -96px -32px;
  }
  .ui-icon-arrow-1-nw {
    background-position: -112px -32px;
  }
  .ui-icon-arrow-2-n-s {
    background-position: -128px -32px;
  }
  .ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px;
  }
  .ui-icon-arrow-2-e-w {
    background-position: -160px -32px;
  }
  .ui-icon-arrow-2-se-nw {
    background-position: -176px -32px;
  }
  .ui-icon-arrowstop-1-n {
    background-position: -192px -32px;
  }
  .ui-icon-arrowstop-1-e {
    background-position: -208px -32px;
  }
  .ui-icon-arrowstop-1-s {
    background-position: -224px -32px;
  }
  .ui-icon-arrowstop-1-w {
    background-position: -240px -32px;
  }
  .ui-icon-arrowthick-1-n {
    background-position: 0 -48px;
  }
  .ui-icon-arrowthick-1-ne {
    background-position: -16px -48px;
  }
  .ui-icon-arrowthick-1-e {
    background-position: -32px -48px;
  }
  .ui-icon-arrowthick-1-se {
    background-position: -48px -48px;
  }
  .ui-icon-arrowthick-1-s {
    background-position: -64px -48px;
  }
  .ui-icon-arrowthick-1-sw {
    background-position: -80px -48px;
  }
  .ui-icon-arrowthick-1-w {
    background-position: -96px -48px;
  }
  .ui-icon-arrowthick-1-nw {
    background-position: -112px -48px;
  }
  .ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px;
  }
  .ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px;
  }
  .ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px;
  }
  .ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px;
  }
  .ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px;
  }
  .ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px;
  }
  .ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px;
  }
  .ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px;
  }
  .ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px;
  }
  .ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px;
  }
  .ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px;
  }
  .ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px;
  }
  .ui-icon-arrowreturn-1-w {
    background-position: -64px -64px;
  }
  .ui-icon-arrowreturn-1-n {
    background-position: -80px -64px;
  }
  .ui-icon-arrowreturn-1-e {
    background-position: -96px -64px;
  }
  .ui-icon-arrowreturn-1-s {
    background-position: -112px -64px;
  }
  .ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px;
  }
  .ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px;
  }
  .ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px;
  }
  .ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px;
  }
  .ui-icon-arrow-4 {
    background-position: 0 -80px;
  }
  .ui-icon-arrow-4-diag {
    background-position: -16px -80px;
  }
  .ui-icon-extlink {
    background-position: -32px -80px;
  }
  .ui-icon-newwin {
    background-position: -48px -80px;
  }
  .ui-icon-refresh {
    background-position: -64px -80px;
  }
  .ui-icon-shuffle {
    background-position: -80px -80px;
  }
  .ui-icon-transfer-e-w {
    background-position: -96px -80px;
  }
  .ui-icon-transferthick-e-w {
    background-position: -112px -80px;
  }
  .ui-icon-folder-collapsed {
    background-position: 0 -96px;
  }
  .ui-icon-folder-open {
    background-position: -16px -96px;
  }
  .ui-icon-document {
    background-position: -32px -96px;
  }
  .ui-icon-document-b {
    background-position: -48px -96px;
  }
  .ui-icon-note {
    background-position: -64px -96px;
  }
  .ui-icon-mail-closed {
    background-position: -80px -96px;
  }
  .ui-icon-mail-open {
    background-position: -96px -96px;
  }
  .ui-icon-suitcase {
    background-position: -112px -96px;
  }
  .ui-icon-comment {
    background-position: -128px -96px;
  }
  .ui-icon-person {
    background-position: -144px -96px;
  }
  .ui-icon-print {
    background-position: -160px -96px;
  }
  .ui-icon-trash {
    background-position: -176px -96px;
  }
  .ui-icon-locked {
    background-position: -192px -96px;
  }
  .ui-icon-unlocked {
    background-position: -208px -96px;
  }
  .ui-icon-bookmark {
    background-position: -224px -96px;
  }
  .ui-icon-tag {
    background-position: -240px -96px;
  }
  .ui-icon-home {
    background-position: 0 -112px;
  }
  .ui-icon-flag {
    background-position: -16px -112px;
  }
  .ui-icon-calendar {
    background-position: -32px -112px;
  }
  .ui-icon-cart {
    background-position: -48px -112px;
  }
  .ui-icon-pencil {
    background-position: -64px -112px;
  }
  .ui-icon-clock {
    background-position: -80px -112px;
  }
  .ui-icon-disk {
    background-position: -96px -112px;
  }
  .ui-icon-calculator {
    background-position: -112px -112px;
  }
  .ui-icon-zoomin {
    background-position: -128px -112px;
  }
  .ui-icon-zoomout {
    background-position: -144px -112px;
  }
  .ui-icon-search {
    background-position: -160px -112px;
  }
  .ui-icon-wrench {
    background-position: -176px -112px;
  }
  .ui-icon-gear {
    background-position: -192px -112px;
  }
  .ui-icon-heart {
    background-position: -208px -112px;
  }
  .ui-icon-star {
    background-position: -224px -112px;
  }
  .ui-icon-link {
    background-position: -240px -112px;
  }
  .ui-icon-cancel {
    background-position: 0 -128px;
  }
  .ui-icon-plus {
    background-position: -16px -128px;
  }
  .ui-icon-plusthick {
    background-position: -32px -128px;
  }
  .ui-icon-minus {
    background-position: -48px -128px;
  }
  .ui-icon-minusthick {
    background-position: -64px -128px;
  }
  .ui-icon-close {
    background-position: -80px -128px;
  }
  .ui-icon-closethick {
    background-position: -96px -128px;
  }
  .ui-icon-key {
    background-position: -112px -128px;
  }
  .ui-icon-lightbulb {
    background-position: -128px -128px;
  }
  .ui-icon-scissors {
    background-position: -144px -128px;
  }
  .ui-icon-clipboard {
    background-position: -160px -128px;
  }
  .ui-icon-copy {
    background-position: -176px -128px;
  }
  .ui-icon-contact {
    background-position: -192px -128px;
  }
  .ui-icon-image {
    background-position: -208px -128px;
  }
  .ui-icon-video {
    background-position: -224px -128px;
  }
  .ui-icon-script {
    background-position: -240px -128px;
  }
  .ui-icon-alert {
    background-position: 0 -144px;
  }
  .ui-icon-info {
    background-position: -16px -144px;
  }
  .ui-icon-notice {
    background-position: -32px -144px;
  }
  .ui-icon-help {
    background-position: -48px -144px;
  }
  .ui-icon-check {
    background-position: -64px -144px;
  }
  .ui-icon-bullet {
    background-position: -80px -144px;
  }
  .ui-icon-radio-on {
    background-position: -96px -144px;
  }
  .ui-icon-radio-off {
    background-position: -112px -144px;
  }
  .ui-icon-pin-w {
    background-position: -128px -144px;
  }
  .ui-icon-pin-s {
    background-position: -144px -144px;
  }
  .ui-icon-play {
    background-position: 0 -160px;
  }
  .ui-icon-pause {
    background-position: -16px -160px;
  }
  .ui-icon-seek-next {
    background-position: -32px -160px;
  }
  .ui-icon-seek-prev {
    background-position: -48px -160px;
  }
  .ui-icon-seek-end {
    background-position: -64px -160px;
  }
  .ui-icon-seek-start {
    background-position: -80px -160px;
  }
  .ui-icon-seek-first {
    background-position: -80px -160px;
  }
  .ui-icon-stop {
    background-position: -96px -160px;
  }
  .ui-icon-eject {
    background-position: -112px -160px;
  }
  .ui-icon-volume-off {
    background-position: -128px -160px;
  }
  .ui-icon-volume-on {
    background-position: -144px -160px;
  }
  .ui-icon-power {
    background-position: 0 -176px;
  }
  .ui-icon-signal-diag {
    background-position: -16px -176px;
  }
  .ui-icon-signal {
    background-position: -32px -176px;
  }
  .ui-icon-battery-0 {
    background-position: -48px -176px;
  }
  .ui-icon-battery-1 {
    background-position: -64px -176px;
  }
  .ui-icon-battery-2 {
    background-position: -80px -176px;
  }
  .ui-icon-battery-3 {
    background-position: -96px -176px;
  }
  .ui-icon-circle-plus {
    background-position: 0 -192px;
  }
  .ui-icon-circle-minus {
    background-position: -16px -192px;
  }
  .ui-icon-circle-close {
    background-position: -32px -192px;
  }
  .ui-icon-circle-triangle-e {
    background-position: -48px -192px;
  }
  .ui-icon-circle-triangle-s {
    background-position: -64px -192px;
  }
  .ui-icon-circle-triangle-w {
    background-position: -80px -192px;
  }
  .ui-icon-circle-triangle-n {
    background-position: -96px -192px;
  }
  .ui-icon-circle-arrow-e {
    background-position: -112px -192px;
  }
  .ui-icon-circle-arrow-s {
    background-position: -128px -192px;
  }
  .ui-icon-circle-arrow-w {
    background-position: -144px -192px;
  }
  .ui-icon-circle-arrow-n {
    background-position: -160px -192px;
  }
  .ui-icon-circle-zoomin {
    background-position: -176px -192px;
  }
  .ui-icon-circle-zoomout {
    background-position: -192px -192px;
  }
  .ui-icon-circle-check {
    background-position: -208px -192px;
  }
  .ui-icon-circlesmall-plus {
    background-position: 0 -208px;
  }
  .ui-icon-circlesmall-minus {
    background-position: -16px -208px;
  }
  .ui-icon-circlesmall-close {
    background-position: -32px -208px;
  }
  .ui-icon-squaresmall-plus {
    background-position: -48px -208px;
  }
  .ui-icon-squaresmall-minus {
    background-position: -64px -208px;
  }
  .ui-icon-squaresmall-close {
    background-position: -80px -208px;
  }
  .ui-icon-grip-dotted-vertical {
    background-position: 0 -224px;
  }
  .ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px;
  }
  .ui-icon-grip-solid-vertical {
    background-position: -32px -224px;
  }
  .ui-icon-grip-solid-horizontal {
    background-position: -48px -224px;
  }
  .ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
  }
  .ui-icon-grip-diagonal-se {
    background-position: -80px -224px;
  }
  .ui-corner-all,
  .ui-corner-top,
  .ui-corner-left,
  .ui-corner-tl {
    border-top-left-radius: 4px;
  }
  .ui-corner-all,
  .ui-corner-top,
  .ui-corner-right,
  .ui-corner-tr {
    border-top-right-radius: 4px;
  }
  .ui-corner-all,
  .ui-corner-bottom,
  .ui-corner-left,
  .ui-corner-bl {
    border-bottom-left-radius: 4px;
  }
  .ui-corner-all,
  .ui-corner-bottom,
  .ui-corner-right,
  .ui-corner-br {
    border-bottom-right-radius: 4px;
  }
  .ui-widget-overlay {
    background: #aaaaaa url(/lib/scripts/jquery/jquery-ui-theme/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .3;
    filter: Alpha(Opacity=30);
  }
  .ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaaaaa url(/lib/scripts/jquery/jquery-ui-theme/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .3;
    filter: Alpha(Opacity=30);
    border-radius: 8px;
  }
  #acl__tree {
    font-size: 90%;
    width: 25%;
    height: 300px;
    float: left;
    overflow: auto;
    border: 1px solid #ccc;
    text-align: left;
  }
  [dir=rtl] #acl__tree {
    float: right;
    text-align: right;
  }
  #acl__tree a.cur {
    background-color: #ff9;
    font-weight: bold;
  }
  #acl__tree ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #acl__tree li {
    padding-left: 1em;
    list-style-image: none;
  }
  [dir=rtl] #acl__tree li {
    padding-left: 0em;
    padding-right: 1em;
  }
  #acl__tree ul img {
    margin-right: 0.25em;
    cursor: pointer;
  }
  [dir=rtl] #acl__tree ul img {
    margin-left: 0.25em;
    margin-right: 0em;
  }
  #acl__detail {
    width: 73%;
    height: 300px;
    float: right;
    overflow: auto;
  }
  [dir=rtl] #acl__detail {
    float: left;
  }
  #acl__detail fieldset {
    width: 90%;
  }
  #acl__detail div#acl__user {
    border: 1px solid #ccc;
    padding: 0.5em;
    margin-bottom: 0.6em;
  }
  #acl_manager table.inline {
    width: 100%;
    margin: 0;
  }
  #acl_manager table .check {
    text-align: center;
  }
  #acl_manager table .action {
    text-align: right;
  }
  #acl_manager .aclgroup {
    background: transparent url(/lib/plugins/acl/pix/group.png) 0px 1px no-repeat;
    padding: 1px 0px 1px 18px;
  }
  [dir=rtl] #acl_manager .aclgroup {
    background: transparent url(/lib/plugins/acl/pix/group.png) right 1px no-repeat;
    padding: 1px 18px 1px 0px;
    display: inline-block;
  }
  #acl_manager .acluser {
    background: transparent url(/lib/plugins/acl/pix/user.png) 0px 1px no-repeat;
    padding: 1px 0px 1px 18px;
  }
  [dir=rtl] #acl_manager .acluser {
    background: transparent url(/lib/plugins/acl/pix/user.png) right 1px no-repeat;
    padding: 1px 18px 1px 0px;
    display: inline-block;
  }
  #acl_manager .aclpage {
    background: transparent url(/lib/plugins/acl/pix/page.png) 0px 1px no-repeat;
    padding: 1px 0px 1px 18px;
  }
  [dir=rtl] #acl_manager .aclpage {
    background: transparent url(/lib/plugins/acl/pix/page.png) right 1px no-repeat;
    padding: 1px 18px 1px 0px;
    display: inline-block;
  }
  #acl_manager .aclns {
    background: transparent url(/lib/plugins/acl/pix/ns.png) 0px 1px no-repeat;
    padding: 1px 0px 1px 18px;
  }
  [dir=rtl] #acl_manager .aclns {
    background: transparent url(/lib/plugins/acl/pix/ns.png) right 1px no-repeat;
    padding: 1px 18px 1px 0px;
    display: inline-block;
  }
  #acl_manager label.disabled {
    opacity: .5;
    cursor: auto;
  }
  #acl_manager label {
    text-align: left;
    font-weight: normal;
    display: inline;
  }
  #acl_manager table {
    margin-left: 10%;
    width: 80%;
  }
  #acl_manager table tr {
    background-color: inherit;
  }
  #acl_manager table tr:hover {
    background-color: #eee;
  }
  div.dokuwiki div.gallery table {
    border: none;
  }
  div.dokuwiki div.gallery table td {
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    border: none;
  }
  div.dokuwiki div.gallery table img.tn {
    padding: 0.4em;
    border: 1px solid #ccc;
    max-width: none;
  }
  div.dokuwiki div.gallery {
    clear: left;
    margin-bottom: 1em;
  }
  div.dokuwiki div.gallery img.tn {
    margin: 9px;
    vertical-align: middle;
    padding: 0.4em;
    border: 1px solid #000;
  }
  div.dokuwiki div.gallery_left {
    float: left;
  }
  div.dokuwiki div.gallery div {
    float: left;
  }
  div.dokuwiki div.gallery_right {
    float: right;
  }
  div.dokuwiki div.gallery_center {
    margin-left: auto;
    margin-right: auto;
  }
  div.dokuwiki div.gallery_center {
    width: 80%;
    text-align: center;
  }
  div.dokuwiki div.gallery div.gallery_pages {
    float: none;
    text-align: left;
  }
  div.pp_default .pp_top,
  div.pp_default .pp_top .pp_middle,
  div.pp_default .pp_top .pp_left,
  div.pp_default .pp_top .pp_right,
  div.pp_default .pp_bottom,
  div.pp_default .pp_bottom .pp_left,
  div.pp_default .pp_bottom .pp_middle,
  div.pp_default .pp_bottom .pp_right {
    height: 13px;
  }
  div.pp_default .pp_top .pp_left {
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite.png) -78px -93px no-repeat;
  }
  div.pp_default .pp_top .pp_middle {
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite_x.png) top left repeat-x;
  }
  div.pp_default .pp_top .pp_right {
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite.png) -112px -93px no-repeat;
  }
  div.pp_default .pp_content .ppt {
    color: #f8f8f8;
  }
  div.pp_default .pp_content_container .pp_left {
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;
    padding-left: 13px;
  }
  div.pp_default .pp_content_container .pp_right {
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite_y.png) top right repeat-y;
    padding-right: 13px;
  }
  div.pp_default .pp_content {
    background-color: #fff;
  }
  div.pp_default .pp_next:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite_next.png) center right no-repeat;
    cursor: pointer;
  }
  div.pp_default .pp_previous:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite_prev.png) center left no-repeat;
    cursor: pointer;
  }
  div.pp_default .pp_expand {
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite.png) 0 -29px no-repeat;
    cursor: pointer;
    width: 28px;
    height: 28px;
  }
  div.pp_default .pp_expand:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite.png) 0 -56px no-repeat;
    cursor: pointer;
  }
  div.pp_default .pp_contract {
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite.png) 0 -84px no-repeat;
    cursor: pointer;
    width: 28px;
    height: 28px;
  }
  div.pp_default .pp_contract:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite.png) 0 -113px no-repeat;
    cursor: pointer;
  }
  div.pp_default .pp_close {
    width: 30px;
    height: 30px;
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite.png) 2px 1px no-repeat;
    cursor: pointer;
  }
  div.pp_default #pp_full_res .pp_inline {
    color: #000;
  }
  div.pp_default .pp_gallery ul li a {
    background: url(/lib/plugins/gallery/prettyPhoto/default/default_thumb.png) center center #f8f8f8;
    border: 1px solid #aaa;
  }
  div.pp_default .pp_gallery ul li a:hover,
  div.pp_default .pp_gallery ul li.selected a {
    border-color: #fff;
  }
  div.pp_default .pp_social {
    margin-top: 7px;
  }
  div.pp_default .pp_gallery a.pp_arrow_previous,
  div.pp_default .pp_gallery a.pp_arrow_next {
    position: static;
    left: auto;
  }
  div.pp_default .pp_nav .pp_play,
  div.pp_default .pp_nav .pp_pause {
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite.png) -51px 1px no-repeat;
    height: 30px;
    width: 30px;
  }
  div.pp_default .pp_nav .pp_pause {
    background-position: -51px -29px;
  }
  div.pp_default .pp_details {
    position: relative;
  }
  div.pp_default a.pp_arrow_previous,
  div.pp_default a.pp_arrow_next {
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite.png) -31px -3px no-repeat;
    height: 20px;
    margin: 4px 0 0 0;
    width: 20px;
  }
  div.pp_default a.pp_arrow_next {
    left: 52px;
    background-position: -82px -3px;
  }
  div.pp_default .pp_content_container .pp_details {
    margin-top: 5px;
  }
  div.pp_default .pp_nav {
    clear: none;
    height: 30px;
    width: 110px;
    position: relative;
  }
  div.pp_default .pp_nav .currentTextHolder {
    font-family: Georgia;
    font-style: italic;
    color: #999;
    font-size: 11px;
    left: 75px;
    line-height: 25px;
    margin: 0;
    padding: 0 0 0 10px;
    position: absolute;
    top: 2px;
  }
  div.pp_default .pp_close:hover,
  div.pp_default .pp_nav .pp_play:hover,
  div.pp_default .pp_nav .pp_pause:hover,
  div.pp_default .pp_arrow_next:hover,
  div.pp_default .pp_arrow_previous:hover {
    opacity: 0.7;
  }
  div.pp_default .pp_description {
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    margin: 5px 50px 5px 0;
  }
  div.pp_default .pp_bottom .pp_left {
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite.png) -78px -127px no-repeat;
  }
  div.pp_default .pp_bottom .pp_middle {
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite_x.png) bottom left repeat-x;
  }
  div.pp_default .pp_bottom .pp_right {
    background: url(/lib/plugins/gallery/prettyPhoto/default/sprite.png) -112px -127px no-repeat;
  }
  div.pp_default .pp_loaderIcon {
    background: url(/lib/plugins/gallery/prettyPhoto/default/loader.gif) center center no-repeat;
  }
  div.light_rounded .pp_top .pp_left {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat;
  }
  div.light_rounded .pp_top .pp_middle {
    background: #fff;
  }
  div.light_rounded .pp_top .pp_right {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat;
  }
  div.light_rounded .pp_content .ppt {
    color: #000;
  }
  div.light_rounded .pp_content_container .pp_left,
  div.light_rounded .pp_content_container .pp_right {
    background: #fff;
  }
  div.light_rounded .pp_content {
    background-color: #fff;
  }
  div.light_rounded .pp_next:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;
    cursor: pointer;
  }
  div.light_rounded .pp_previous:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;
    cursor: pointer;
  }
  div.light_rounded .pp_expand {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;
    cursor: pointer;
  }
  div.light_rounded .pp_expand:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;
    cursor: pointer;
  }
  div.light_rounded .pp_contract {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;
    cursor: pointer;
  }
  div.light_rounded .pp_contract:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;
    cursor: pointer;
  }
  div.light_rounded .pp_close {
    width: 75px;
    height: 22px;
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;
    cursor: pointer;
  }
  div.light_rounded .pp_details {
    position: relative;
  }
  div.light_rounded .pp_description {
    margin-right: 85px;
  }
  div.light_rounded #pp_full_res .pp_inline {
    color: #000;
  }
  div.light_rounded .pp_gallery a.pp_arrow_previous,
  div.light_rounded .pp_gallery a.pp_arrow_next {
    margin-top: 12px !important;
  }
  div.light_rounded .pp_nav .pp_play {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;
    height: 15px;
    width: 14px;
  }
  div.light_rounded .pp_nav .pp_pause {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;
    height: 15px;
    width: 14px;
  }
  div.light_rounded .pp_arrow_previous {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat;
  }
  div.light_rounded .pp_arrow_previous.disabled {
    background-position: 0 -87px;
    cursor: default;
  }
  div.light_rounded .pp_arrow_next {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat;
  }
  div.light_rounded .pp_arrow_next.disabled {
    background-position: -22px -87px;
    cursor: default;
  }
  div.light_rounded .pp_bottom .pp_left {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat;
  }
  div.light_rounded .pp_bottom .pp_middle {
    background: #fff;
  }
  div.light_rounded .pp_bottom .pp_right {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat;
  }
  div.light_rounded .pp_loaderIcon {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/loader.gif) center center no-repeat;
  }
  div.dark_rounded .pp_top .pp_left {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat;
  }
  div.dark_rounded .pp_top .pp_middle {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/contentPattern.png) top left repeat;
  }
  div.dark_rounded .pp_top .pp_right {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat;
  }
  div.dark_rounded .pp_content_container .pp_left {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y;
  }
  div.dark_rounded .pp_content_container .pp_right {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y;
  }
  div.dark_rounded .pp_content {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/contentPattern.png) top left repeat;
  }
  div.dark_rounded .pp_next:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;
    cursor: pointer;
  }
  div.dark_rounded .pp_previous:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;
    cursor: pointer;
  }
  div.dark_rounded .pp_expand {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;
    cursor: pointer;
  }
  div.dark_rounded .pp_expand:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;
    cursor: pointer;
  }
  div.dark_rounded .pp_contract {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;
    cursor: pointer;
  }
  div.dark_rounded .pp_contract:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;
    cursor: pointer;
  }
  div.dark_rounded .pp_close {
    width: 75px;
    height: 22px;
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;
    cursor: pointer;
  }
  div.dark_rounded .pp_details {
    position: relative;
  }
  div.dark_rounded .pp_description {
    margin-right: 85px;
  }
  div.dark_rounded .currentTextHolder {
    color: #c4c4c4;
  }
  div.dark_rounded .pp_description {
    color: #fff;
  }
  div.dark_rounded #pp_full_res .pp_inline {
    color: #fff;
  }
  div.dark_rounded .pp_gallery a.pp_arrow_previous,
  div.dark_rounded .pp_gallery a.pp_arrow_next {
    margin-top: 12px !important;
  }
  div.dark_rounded .pp_nav .pp_play {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;
    height: 15px;
    width: 14px;
  }
  div.dark_rounded .pp_nav .pp_pause {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;
    height: 15px;
    width: 14px;
  }
  div.dark_rounded .pp_arrow_previous {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat;
  }
  div.dark_rounded .pp_arrow_previous.disabled {
    background-position: 0 -87px;
    cursor: default;
  }
  div.dark_rounded .pp_arrow_next {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat;
  }
  div.dark_rounded .pp_arrow_next.disabled {
    background-position: -22px -87px;
    cursor: default;
  }
  div.dark_rounded .pp_bottom .pp_left {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat;
  }
  div.dark_rounded .pp_bottom .pp_middle {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/contentPattern.png) top left repeat;
  }
  div.dark_rounded .pp_bottom .pp_right {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat;
  }
  div.dark_rounded .pp_loaderIcon {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_rounded/loader.gif) center center no-repeat;
  }
  div.dark_square .pp_left,
  div.dark_square .pp_middle,
  div.dark_square .pp_right,
  div.dark_square .pp_content {
    background: #000;
  }
  div.dark_square .currentTextHolder {
    color: #c4c4c4;
  }
  div.dark_square .pp_description {
    color: #fff;
  }
  div.dark_square .pp_loaderIcon {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_square/loader.gif) center center no-repeat;
  }
  div.dark_square .pp_expand {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;
    cursor: pointer;
  }
  div.dark_square .pp_expand:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;
    cursor: pointer;
  }
  div.dark_square .pp_contract {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;
    cursor: pointer;
  }
  div.dark_square .pp_contract:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;
    cursor: pointer;
  }
  div.dark_square .pp_close {
    width: 75px;
    height: 22px;
    background: url(/lib/plugins/gallery/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;
    cursor: pointer;
  }
  div.dark_square .pp_details {
    position: relative;
  }
  div.dark_square .pp_description {
    margin: 0 85px 0 0;
  }
  div.dark_square #pp_full_res .pp_inline {
    color: #fff;
  }
  div.dark_square .pp_gallery a.pp_arrow_previous,
  div.dark_square .pp_gallery a.pp_arrow_next {
    margin-top: 12px !important;
  }
  div.dark_square .pp_nav {
    clear: none;
  }
  div.dark_square .pp_nav .pp_play {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;
    height: 15px;
    width: 14px;
  }
  div.dark_square .pp_nav .pp_pause {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;
    height: 15px;
    width: 14px;
  }
  div.dark_square .pp_arrow_previous {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat;
  }
  div.dark_square .pp_arrow_previous.disabled {
    background-position: 0 -87px;
    cursor: default;
  }
  div.dark_square .pp_arrow_next {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat;
  }
  div.dark_square .pp_arrow_next.disabled {
    background-position: -22px -87px;
    cursor: default;
  }
  div.dark_square .pp_next:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_square/btnNext.png) center right no-repeat;
    cursor: pointer;
  }
  div.dark_square .pp_previous:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;
    cursor: pointer;
  }
  div.light_square .pp_left,
  div.light_square .pp_middle,
  div.light_square .pp_right,
  div.light_square .pp_content {
    background: #fff;
  }
  div.light_square .pp_content .ppt {
    color: #000;
  }
  div.light_square .pp_expand {
    background: url(/lib/plugins/gallery/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;
    cursor: pointer;
  }
  div.light_square .pp_expand:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;
    cursor: pointer;
  }
  div.light_square .pp_contract {
    background: url(/lib/plugins/gallery/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;
    cursor: pointer;
  }
  div.light_square .pp_contract:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;
    cursor: pointer;
  }
  div.light_square .pp_close {
    width: 75px;
    height: 22px;
    background: url(/lib/plugins/gallery/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;
    cursor: pointer;
  }
  div.light_square .pp_details {
    position: relative;
  }
  div.light_square .pp_description {
    margin-right: 85px;
  }
  div.light_square #pp_full_res .pp_inline {
    color: #000;
  }
  div.light_square .pp_gallery a.pp_arrow_previous,
  div.light_square .pp_gallery a.pp_arrow_next {
    margin-top: 12px !important;
  }
  div.light_square .pp_nav .pp_play {
    background: url(/lib/plugins/gallery/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;
    height: 15px;
    width: 14px;
  }
  div.light_square .pp_nav .pp_pause {
    background: url(/lib/plugins/gallery/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;
    height: 15px;
    width: 14px;
  }
  div.light_square .pp_arrow_previous {
    background: url(/lib/plugins/gallery/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat;
  }
  div.light_square .pp_arrow_previous.disabled {
    background-position: 0 -87px;
    cursor: default;
  }
  div.light_square .pp_arrow_next {
    background: url(/lib/plugins/gallery/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat;
  }
  div.light_square .pp_arrow_next.disabled {
    background-position: -22px -87px;
    cursor: default;
  }
  div.light_square .pp_next:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/light_square/btnNext.png) center right no-repeat;
    cursor: pointer;
  }
  div.light_square .pp_previous:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;
    cursor: pointer;
  }
  div.light_square .pp_loaderIcon {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/loader.gif) center center no-repeat;
  }
  div.facebook .pp_top .pp_left {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat;
  }
  div.facebook .pp_top .pp_middle {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x;
  }
  div.facebook .pp_top .pp_right {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat;
  }
  div.facebook .pp_content .ppt {
    color: #000;
  }
  div.facebook .pp_content_container .pp_left {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y;
  }
  div.facebook .pp_content_container .pp_right {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y;
  }
  div.facebook .pp_content {
    background: #fff;
  }
  div.facebook .pp_expand {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;
    cursor: pointer;
  }
  div.facebook .pp_expand:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;
    cursor: pointer;
  }
  div.facebook .pp_contract {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;
    cursor: pointer;
  }
  div.facebook .pp_contract:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;
    cursor: pointer;
  }
  div.facebook .pp_close {
    width: 22px;
    height: 22px;
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;
    cursor: pointer;
  }
  div.facebook .pp_details {
    position: relative;
  }
  div.facebook .pp_description {
    margin: 0 37px 0 0;
  }
  div.facebook #pp_full_res .pp_inline {
    color: #000;
  }
  div.facebook .pp_loaderIcon {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/loader.gif) center center no-repeat;
  }
  div.facebook .pp_arrow_previous {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;
    height: 22px;
    margin-top: 0;
    width: 22px;
  }
  div.facebook .pp_arrow_previous.disabled {
    background-position: 0 -96px;
    cursor: default;
  }
  div.facebook .pp_arrow_next {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;
    height: 22px;
    margin-top: 0;
    width: 22px;
  }
  div.facebook .pp_arrow_next.disabled {
    background-position: -32px -96px;
    cursor: default;
  }
  div.facebook .pp_nav {
    margin-top: 0;
  }
  div.facebook .pp_nav p {
    font-size: 15px;
    padding: 0 3px 0 4px;
  }
  div.facebook .pp_nav .pp_play {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;
    height: 22px;
    width: 22px;
  }
  div.facebook .pp_nav .pp_pause {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;
    height: 22px;
    width: 22px;
  }
  div.facebook .pp_next:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/btnNext.png) center right no-repeat;
    cursor: pointer;
  }
  div.facebook .pp_previous:hover {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;
    cursor: pointer;
  }
  div.facebook .pp_bottom .pp_left {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat;
  }
  div.facebook .pp_bottom .pp_middle {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x;
  }
  div.facebook .pp_bottom .pp_right {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat;
  }
  div.pp_pic_holder a:focus {
    outline: none;
  }
  div.pp_overlay {
    background: #000;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9500;
  }
  div.pp_pic_holder {
    display: none;
    position: absolute;
    width: 100px;
    z-index: 10000;
  }
  .pp_top {
    height: 20px;
    position: relative;
  }
  * html .pp_top {
    padding: 0 20px;
  }
  .pp_top .pp_left {
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
  }
  .pp_top .pp_middle {
    height: 20px;
    left: 20px;
    position: absolute;
    right: 20px;
  }
  * html .pp_top .pp_middle {
    left: 0;
    position: static;
  }
  .pp_top .pp_right {
    height: 20px;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
  }
  .pp_content {
    height: 40px;
    min-width: 40px;
  }
  * html .pp_content {
    width: 40px;
  }
  .pp_fade {
    display: none;
  }
  .pp_content_container {
    position: relative;
    text-align: left;
    width: 100%;
  }
  .pp_content_container .pp_left {
    padding-left: 20px;
  }
  .pp_content_container .pp_right {
    padding-right: 20px;
  }
  .pp_content_container .pp_details {
    float: left;
    margin: 10px 0 2px 0;
  }
  .pp_description {
    display: none;
    margin: 0;
  }
  .pp_social {
    float: left;
    margin: 0;
  }
  .pp_social .facebook {
    float: left;
    margin-left: 5px;
    width: 55px;
    overflow: hidden;
  }
  .pp_social .twitter {
    float: left;
  }
  .pp_nav {
    clear: right;
    float: left;
    margin: 3px 10px 0 0;
  }
  .pp_nav p {
    float: left;
    margin: 2px 4px;
    white-space: nowrap;
  }
  .pp_nav .pp_play,
  .pp_nav .pp_pause {
    float: left;
    margin-right: 4px;
    text-indent: -10000px;
  }
  a.pp_arrow_previous,
  a.pp_arrow_next {
    display: block;
    float: left;
    height: 15px;
    margin-top: 3px;
    overflow: hidden;
    text-indent: -10000px;
    width: 14px;
  }
  .pp_hoverContainer {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;
  }
  .pp_gallery {
    display: none;
    left: 50%;
    margin-top: -50px;
    position: absolute;
    z-index: 10000;
  }
  .pp_gallery div {
    float: left;
    overflow: hidden;
    position: relative;
  }
  .pp_gallery ul {
    float: left;
    height: 35px;
    margin: 0 0 0 5px;
    padding: 0;
    position: relative;
    white-space: nowrap;
  }
  .pp_gallery ul a {
    border: 1px #000 solid;
    border: 1px rgba(0,0,0,0.5) solid;
    display: block;
    float: left;
    height: 33px;
    overflow: hidden;
  }
  .pp_gallery ul a:hover,
  .pp_gallery li.selected a {
    border-color: #fff;
  }
  .pp_gallery ul a img {
    border: 0;
  }
  .pp_gallery li {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
  }
  .pp_gallery li.default a {
    background: url(/lib/plugins/gallery/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;
    display: block;
    height: 33px;
    width: 50px;
  }
  .pp_gallery li.default a img {
    display: none;
  }
  .pp_gallery .pp_arrow_previous,
  .pp_gallery .pp_arrow_next {
    margin-top: 7px !important;
  }
  a.pp_next {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
    display: block;
    float: right;
    height: 100%;
    text-indent: -10000px;
    width: 49%;
  }
  a.pp_previous {
    background: url(/lib/plugins/gallery/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
    display: block;
    float: left;
    height: 100%;
    text-indent: -10000px;
    width: 49%;
  }
  a.pp_expand,
  a.pp_contract {
    cursor: pointer;
    display: none;
    height: 20px;
    position: absolute;
    right: 30px;
    text-indent: -10000px;
    top: 10px;
    width: 20px;
    z-index: 20000;
  }
  a.pp_close {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    line-height: 22px;
    text-indent: -10000px;
  }
  .pp_bottom {
    height: 20px;
    position: relative;
  }
  * html .pp_bottom {
    padding: 0 20px;
  }
  .pp_bottom .pp_left {
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
  }
  .pp_bottom .pp_middle {
    height: 20px;
    left: 20px;
    position: absolute;
    right: 20px;
  }
  * html .pp_bottom .pp_middle {
    left: 0;
    position: static;
  }
  .pp_bottom .pp_right {
    height: 20px;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
  }
  .pp_loaderIcon {
    display: block;
    height: 24px;
    left: 50%;
    margin: -12px 0 0 -12px;
    position: absolute;
    top: 50%;
    width: 24px;
  }
  #pp_full_res {
    line-height: 1 !important;
  }
  #pp_full_res .pp_inline {
    text-align: left;
  }
  #pp_full_res .pp_inline p {
    margin: 0 0 15px 0;
  }
  div.ppt {
    color: #fff;
    display: none;
    font-size: 17px;
    margin: 0 0 5px 15px;
    z-index: 9999;
  }
  #config__manager div.success,
  #config__manager div.error,
  #config__manager div.info {
    background-position: 0.5em;
    padding: 0.5em;
    text-align: center;
  }
  #config__manager fieldset {
    margin: 1em;
    width: auto;
    margin-bottom: 2em;
    background-color: #eee;
    color: #222;
    padding: 0 1em;
  }
  [dir=rtl] #config__manager fieldset {
    clear: both;
  }
  #config__manager legend {
    font-size: 1.25em;
  }
  #config__manager table {
    margin: 1em 0;
    width: 100%;
  }
  #config__manager fieldset td {
    text-align: left;
  }
  [dir=rtl] #config__manager fieldset td {
    text-align: right;
  }
  #config__manager fieldset td.value {
    width: 31em;
  }
  [dir=rtl] #config__manager label {
    text-align: right;
  }
  [dir=rtl] #config__manager td.value input.checkbox {
    float: right;
    padding-left: 0;
    padding-right: 0.7em;
  }
  [dir=rtl] #config__manager td.value label {
    float: left;
  }
  #config__manager td.label {
    padding: 0.8em 0 0.6em 1em;
    vertical-align: top;
  }
  [dir=rtl] #config__manager td.label {
    padding: 0.8em 1em 0.6em 0;
  }
  #config__manager td.label label {
    clear: left;
    display: block;
  }
  [dir=rtl] #config__manager td.label label {
    clear: right;
  }
  #config__manager td.label img {
    padding: 0 10px;
    vertical-align: middle;
    float: right;
  }
  [dir=rtl] #config__manager td.label img {
    float: left;
  }
  #config__manager td.label span.outkey {
    font-size: 70%;
    margin-top: -1.7em;
    margin-left: -1em;
    display: block;
    background-color: #fff;
    color: #666;
    float: left;
    padding: 0 0.1em;
    position: relative;
    z-index: 1;
  }
  [dir=rtl] #config__manager td.label span.outkey {
    float: right;
    margin-right: 1em;
  }
  #config__manager td input.edit {
    width: 30em;
  }
  #config__manager td .input {
    width: 30.8em;
  }
  #config__manager td textarea.edit {
    width: 27.5em;
    height: 4em;
  }
  #config__manager td textarea.edit:focus {
    height: 10em;
  }
  #config__manager tr .input,
  #config__manager tr input,
  #config__manager tr textarea,
  #config__manager tr select {
    background-color: #fff;
    color: #000;
  }
  #config__manager tr.default .input,
  #config__manager tr.default input,
  #config__manager tr.default textarea,
  #config__manager tr.default select,
  #config__manager .selectiondefault {
    background-color: #ccddff;
    color: #000;
  }
  #config__manager tr.protected .input,
  #config__manager tr.protected input,
  #config__manager tr.protected textarea,
  #config__manager tr.protected select,
  #config__manager tr.protected .selection {
    background-color: #ffcccc !important;
    color: #000 !important;
  }
  #config__manager td.error {
    background-color: red;
    color: #000;
  }
  #config__manager .selection {
    width: 14.8em;
    float: left;
    margin: 0 0.3em 2px 0;
  }
  [dir=rtl] #config__manager .selection {
    width: 14.8em;
    float: right;
    margin: 0 0 2px 0.3em;
  }
  #config__manager .selection label {
    float: right;
    width: 14em;
    font-size: 90%;
  }
  #config__manager .other {
    clear: both;
    padding-top: 0.5em;
  }
  #config__manager .other label {
    padding-left: 2px;
    font-size: 90%;
  }
  .dokuwiki form.sqliteplugin fieldset {
    width: 80%;
  }
  .dokuwiki form.sqliteplugin textarea.edit {
    width: 95%;
    height: 10em;
  }
  #user__manager tr.disabled {
    color: #6f6f6f;
    background: #e4e4e4;
  }
  #user__manager tr.user_info {
    vertical-align: top;
  }
  #user__manager div.edit_user {
    width: 46%;
    float: left;
  }
  #user__manager table {
    margin-bottom: 1em;
  }
  #user__manager ul.notes {
    padding-left: 0;
    padding-right: 1.4em;
  }
  #user__manager input.button[disabled] {
    color: #ccc !important;
    border-color: #ccc !important;
  }
  #user__manager .import_users {
    margin-top: 1.4em;
  }
  #user__manager .import_failures {
    margin-top: 1.4em;
  }
  #user__manager .import_failures td.lineno {
    text-align: center;
  }
  #plugin__extensionlightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/lib/plugins/extension/images/overlay.png) repeat;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
  }
  #plugin__extensionlightbox p {
    text-align: right;
    color: #fff;
    margin-right: 20px;
    font-size: 12px;
  }
  #plugin__extensionlightbox img {
    box-shadow: 0 0 25px #111;
    -webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow: 0 0 25px #111;
    max-width: 90%;
    max-height: 90%;
  }
  #extension__manager ul.tabs li.active a {
    background-color: #eee;
    border-bottom: solid 1px #eee;
    z-index: 2;
  }
  #extension__manager .panelHeader {
    background-color: #eee;
    margin: 0 0 10px 0;
    padding: 10px 10px 8px;
    overflow: hidden;
  }
  #extension__manager div.msg {
    margin: 0.4em 0 0 0;
  }
  #extension__list ul.extensionList {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    list-style: none;
  }
  #extension__list ul.extensionList li {
    margin: 0 0 .5em;
    padding: 0 0 .5em;
    color: #222;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
  }
  #extension__list input.button {
    margin: 0 .3em .3em 0;
  }
  #extension__list .legend {
    position: relative;
    width: 75%;
    float: left;
  }
  #extension__list .legend > div {
    padding: 0 .5em 0 132px;
    border-right: 1px solid #eee;
    overflow: hidden;
  }
  #extension__list .legend div.screenshot {
    margin-top: 4px;
    margin-left: -132px;
    max-width: 120px;
    float: left;
    position: relative;
  }
  #extension__list .legend div.screenshot img {
    width: 120px;
    height: 70px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #666;
  }
  #extension__list .legend div.screenshot span {
    min-height: 24px;
    min-width: 24px;
    position: absolute;
    left: 0;
    top: 0;
  }
  #extension__list .legend h2 {
    width: 100%;
    float: right;
    margin: 0.2em 0 0.5em;
    font-size: 100%;
    font-weight: normal;
    border: none;
  }
  #extension__list .legend h2 strong {
    font-size: 120%;
    font-weight: bold;
    vertical-align: baseline;
  }
  #extension__list .legend p {
    margin: 0 0 0.6em 0;
  }
  #extension__list .legend div.popularity {
    background-color: #fff;
    border: 1px solid silver;
    height: .4em;
    margin: 0 auto;
    padding: 1px;
    width: 5.5em;
    position: absolute;
    right: .5em;
    top: 0.2em;
  }
  #extension__list .legend div.popularity div {
    background-color: #ccc;
    height: 100%;
  }
  #extension__list .legend div.linkbar {
    font-size: 85%;
  }
  #extension__list .legend div.linkbar span.tags {
    padding-left: 18px;
    background: transparent url(/lib/plugins/extension/images/tag.png) no-repeat 0 0;
  }
  #extension__list .legend a.info {
    background: transparent url(/lib/plugins/extension/images/down.png) no-repeat 0 0;
    border-width: 0;
    height: 13px;
    width: 13px;
    text-indent: -9999px;
    float: right;
    margin: .5em 0 0;
    overflow: hidden;
  }
  #extension__list .legend a.info.close {
    background: transparent url(/lib/plugins/extension/images/up.png) no-repeat 0 0;
  }
  #extension__list .legend dl.details {
    margin: 0.4em 0 0 0;
    font-size: 85%;
    border-top: 1px solid #eee;
    clear: both;
  }
  #extension__list .legend dl.details dt {
    clear: left;
    float: left;
    width: 25%;
    margin: 0;
    text-align: right;
    font-weight: normal;
    padding: 0.2em 5px 0 0;
    font-weight: bold;
  }
  #extension__list .legend dl.details dd {
    margin-left: 25%;
    padding: 0.2em 0 0 5px;
  }
  #extension__list .legend dl.details dd a.donate {
    padding-left: 18px;
    background: transparent url(/lib/plugins/extension/images/donate.png) left center no-repeat;
  }
  [dir=rtl] #extension__list .legend {
    float: right;
  }
  [dir=rtl] #extension__list .legend > div {
    padding: 0 132px 0 .5em;
    border-left: 1px solid #eee;
    border-right-width: 0;
  }
  [dir=rtl] #extension__list .legend div.screenshot {
    margin-left: 0;
    margin-right: -132px;
    float: right;
  }
  [dir=rtl] #extension__list .legend div.screenshot span {
    left: auto;
    right: 0;
  }
  [dir=rtl] #extension__list .legend h2 {
    float: left;
  }
  [dir=rtl] #extension__list .legend div.popularity {
    right: auto;
    left: .5em;
  }
  [dir=rtl] #extension__list .legend div.linkbar span.tags,
  [dir=rtl] #extension__list .legend dl.details dd a.donate {
    padding-left: 0;
    padding-right: 18px;
    background-position: top right;
  }
  [dir=rtl] #extension__list .legend a.info {
    float: left;
  }
  [dir=rtl] #extension__list .legend dl.details dt {
    clear: right;
    float: right;
    text-align: left;
    padding-left: 5px;
    padding-right: 0;
  }
  [dir=rtl] #extension__list .legend dl.details dd {
    margin-left: 0;
    margin-right: 25%;
    padding-left: 0;
    padding-right: 5px;
  }
  #extension__list .enabled div.screenshot span {
    background: transparent url(/lib/plugins/extension/images/enabled.png) no-repeat 2px 2px;
  }
  #extension__list .disabled div.screenshot span {
    background: transparent url(/lib/plugins/extension/images/disabled.png) no-repeat 2px 2px;
  }
  #extension__list .disabled .legend {
    opacity: 0.7;
  }
  #extension__manager .actions {
    padding: 0;
    font-size: 95%;
    width: 25%;
    float: right;
    text-align: right;
  }
  #extension__manager .actions .version {
    display: block;
  }
  #extension__manager .actions p {
    margin: 0.2em 0;
    text-align: center;
  }
  #extension__manager .actions p.permerror {
    margin-left: 0.4em;
    text-align: left;
    padding-left: 19px;
    background: transparent url(/lib/plugins/extension/images/warning.png) center left no-repeat;
    line-height: 18px;
    font-size: 12px;
  }
  [dir=rtl] #extension__manager .actions {
    float: left;
    text-align: left;
  }
  [dir=rtl] #extension__manager .actions p.permerror {
    margin-left: 0;
    margin-right: 0.4em;
    text-align: right;
    padding-left: 0;
    padding-right: 19px;
    background-position: center right;
  }
  #extension__manager form.search {
    display: block;
    margin-bottom: 2em;
  }
  #extension__manager form.search span {
    font-weight: bold;
  }
  #extension__manager form.search input.edit {
    width: 25em;
  }
  #extension__manager form.install {
    text-align: center;
    display: block;
    width: 60%;
  }
  div.dataplugin_entry dl {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    font-size: 90%;
    overflow: auto;
    width: 50%;
  }
  * html div.dataplugin_entry dl dd {
    float: none;
    display: block;
  }
  *:first-child+html div.dataplugin_entry dl dd {
    float: none;
    display: block;
  }
  *:first-child+html div.dataplugin_entry dt {
    padding-right: 0.5em;
  }
  div.dataplugin_entry dl dt {
    font-weight: bold;
    clear: left;
    float: left;
    width: 10em;
    text-align: right;
  }
  div.dataplugin_entry dl dd {
    float: left;
    margin-left: 0.5em;
  }
  div.dataplugin_entry.hidden {
    display: none;
  }
  ul.dataplugin_cloud {
    overflow: auto;
  }
  ul.dataplugin_cloud li {
    float: left;
    list-style-type: none;
    list-style-image: none;
    margin: 0 1em 0 0;
    padding: 0;
  }
  ul.dataplugin_cloud li.cl0 {
    font-size: 70%;
  }
  ul.dataplugin_cloud li.cl1 {
    font-size: 90%;
  }
  ul.dataplugin_cloud li.cl2 {
    font-size: 110%;
  }
  ul.dataplugin_cloud li.cl3 {
    font-size: 130%;
  }
  ul.dataplugin_cloud li.cl4 {
    font-size: 150%;
  }
  dl.datarelated {
    margin-left: 1em;
  }
  dl.datarelated dd {
    margin-left: 1em;
  }
  dl.datarelated dt {
    font-weight: bold;
  }
  #dw__editform fieldset.plugin__data table tr td label span {
    display: none;
  }
  #dw__editform fieldset.plugin__data table tr td label {
    display: block;
    position: relative;
  }
  #dw__editform fieldset.plugin__data {
    text-align: left;
    width: 99%;
  }
  #dw__editform fieldset.plugin__data table {
    text-align: center;
  }
  #dw__editform fieldset.plugin__data table td {
    padding: 0 0.3em;
  }
  #dw__editform fieldset.plugin__data table td select,
  #dw__editform fieldset.plugin__data table td input {
    width: 100%;
  }
  #dw__editform fieldset.plugin__data table .data_comment input {
    border: none;
  }
  div.dokuwiki div.editbutton_plugin_data {
    margin-top: -1em;
    float: none;
  }
  div.dokuwiki div.editbutton_plugin_data form input.button {
    float: none;
    margin-left: 1.6em;
    padding: 0 0.3em;
    background-image: none;
    border-top: none;
  }
  table.dataplugin_table th input {
    width: 98%;
  }
  .ui-datepicker {
    font-size: 0.9em;
  }
  .ui-menu {
    font-size: 1em;
  }
  body {
    color: #222;
    background: #EEE;
    margin: 0 1%;
    padding: 0;
    font: Arial;
  }
  a {
    color: #2b73b7;
  }
  .group,
  #dokuwiki__usertools,
  #dokuwiki__sitetools {
    display: inline-table !important;
  }
  .tools,
  #dokuwiki__usertools,
  #dokuwiki__sitetools {
    padding: 0 1em;
  }
  .tools {
    float: right;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0 1em 1em 1em;
  }
  aside {
    float: left;
    max-width: 20%;
    margin-right: 1em;
  }
  #content {
    background: #fff;
    display: table;
    padding: 0 1% 1% 1%;
    margin: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 0 1em;
  }
  #title {
    font: 30px Times;
  }
  #title a {
    text-decoration: none !important;
  }
  .breadcrumbs {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .docInfo {
    text-align: right;
    font-family: monospace;
  }
  footer {
    text-align: center;
  }
  div.notify {
    background-color: #ffc;
    background-image: url("/lib/tpl/kiss/images/notify.png");
    background-repeat: no-repeat;
    background-position: 8px 50%;
    border: 1px solid #ccc;
    border-radius: 0.4em;
    box-shadow: .3em .3em .5em;
    color: #000;
    font-size: 90%;
    margin: 0 0 0.5em;
    padding: 0.4em;
    padding-left: 32px;
    display: table;
  }
  .wikilink1 {
    color: #080;
  }
  .wikilink2 {
    color: #d30;
  }
  #user__manager input.button[disabled] {
    color: auto !important;
    border-color: auto !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.5em;
    padding: 0;
  }
  .pagetools {
    display: table;
  }
  .pagetools a {
    background: #fff;
    border: 1px solid #ccc;
    display: inline-table;
    margin: 0 0.5em;
    padding: 0.2em;
  }
  table,
  th,
  td {
    border-collapse: collapse;
    empty-cells: show;
    border-spacing: 0;
    border: solid #ccc;
  }
  th {
    font-weight: bold;
    background-color: #eee;
  }
  .secedit {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  #extension__list .legend > div {
    padding-left: 0;
  }
  #extension__list .legend div.screenshot {
    margin: 0 .5em .5em 0;
  }
  #extension__list .legend h2 {
    width: auto;
    float: none;
  }
  #extension__list .legend div.linkbar {
    clear: left;
  }
  [dir=rtl] #extension__list .legend > div {
    padding-right: 0;
  }
  [dir=rtl] #extension__list .legend div.screenshot {
    margin: 0 0 .5em .5em;
  }
  [dir=rtl] #extension__list .legend div.linkbar {
    clear: right;
  }
}
iframe.vshare__left,
div.vshare__left {
  float: left;
  margin-right: 1em;
}
iframe.vshare__right,
div.vshare__right {
  float: right;
  margin-left: 1em;
}
iframe.vshare__center,
div.vshare__center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
