
<h4 id="aide_rapide">Aide rapide</h4>
<div class="level4">

<p>
Cette page vous permet d&#039;ajouter ou de supprimer des autorisations pour les catégories et les pages de votre wiki.
</p>

<p>
Le panneau de gauche liste toutes les catégories et les pages disponibles.
</p>

<p>
Le formulaire ci-dessus permet d&#039;afficher et de modifier les autorisations d&#039;un utilisateur ou d&#039;un groupe sélectionné.
</p>

<p>
Dans le tableau ci-dessous, toutes les listes de contrôle d&#039;accès (<abbr title="Access Control List">ACL</abbr>) actuelles sont affichées. Vous pouvez l&#039;utiliser pour supprimer ou modifier rapidement plusieurs contrôles d&#039;accès.
</p>

<p>
La lecture de <a href="http://www.dokuwiki.org/fr%3Aacl" class="interwiki iw_doku" title="http://www.dokuwiki.org/fr%3Aacl">la documentation officielle des contrôles d&#039;accès</a> pourra vous permettre de mieux comprendre le fonctionnement du contrôle d&#039;accès dans DokuWiki.
</p>

</div>
