
<h1 class="sectionedit1" id="a_propos">À Propos</h1>
<div class="level1">

<p>
<strong>The-Delta dispose d&#039;une seule règle : <em>Ne pas détruire une personne ou ses créations.</em></strong> En cas contraire : Toute décision sera choisie par discussions entre les personnes concerné·e·s. Les membres externes ne peuvent pas agir directement.
</p>

<p>
Les punitions, kick, ban, … sont à éviter. Un vote sur un ban ou kick ou autre action majeure se fait avec toutes les personnes présentes et à au moins 75% des voix. Les membres du <a href="#staff" title="start ↵" class="wikilink1">staff</a> sont la pour vérifier que tout va bien et aider la communauté. Ils restent des membres normaux.
</p>

</div>

<h5 id="tldr">TL;DR</h5>
<div class="level5">

<p>
The-Delta est une Anarchie car la hiérarchie est absente et toute personne est libre et égale.
</p>
<hr />

</div>
<!-- EDIT1 SECTION "À Propos" [1-696] -->
<h2 class="sectionedit2" id="serveurs">Serveurs</h2>
<div class="level2">

<p>
The-Delta (T-D), était à la base un serveur minecraft. Et est aujourd&#039;hui un ensemble de serveurs sur une organisation désordonnée ou un désordre organisé :
</p>
<ul>
<li class="level1"><div class="li"> Un <a href="#serveur_http" title="start ↵" class="wikilink1">serveur_HTTP</a> sous Apache2 (Cette page vient bien de quelque part !)</div>
</li>
<li class="level1"><div class="li"> <del>Un serveur <abbr title="File Transfer Protocol">FTP</abbr> public et anonyme pour plus de datalove &lt;3</del> (serat peut-être remis en service.)</div>
</li>
<li class="level1"><div class="li"> Un <a href="#serveur_irc" title="start ↵" class="wikilink1">serveur_IRC</a> sous charybdis.</div>
</li>
<li class="level1"><div class="li"> Un <a href="#serveur_mumble" title="start ↵" class="wikilink1">serveur_mumble</a></div>
</li>
<li class="level1"><div class="li"> Du <a href="#stream" title="start ↵" class="wikilink1">Stream</a> <abbr title="HyperText Transfert Protocol">HTTP</abbr></div>
</li>
<li class="level1"><div class="li"> (le reste est inaccessible depuis l&#039;extérieur)</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Serveurs" [697-1215] -->
<h3 class="sectionedit3" id="serveur_http">Serveur HTTP</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> The-Delta alias wiki (le site que vous regardez en ce moment)</div>
</li>
<li class="level1"><div class="li"> Le blog de <a href="/doku.php?id=users:lanodan" class="wikilink1" title="users:lanodan">lanodan</a> (disponible sur <a href="http://lanodan.the-delta.net/" class="urlextern" title="http://lanodan.the-delta.net/"  rel="nofollow">http://lanodan.the-delta.net/</a> il est prévut pour lanodan.bzh)</div>
</li>
<li class="level1"><div class="li"> Du datalove caché</div>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Serveur HTTP" [1216-1440] -->
<h3 class="sectionedit4" id="serveur_irc">Serveur IRC</h3>
<div class="level3">

<p>
Vous pouvez vous connecter avec un client <abbr title="Internet Relay Chat">IRC</abbr> tel que (<a href="http://irssi.org/" class="urlextern" title="http://irssi.org/"  rel="nofollow">irssi</a>, <a href="http://weechat.org/" class="urlextern" title="http://weechat.org/"  rel="nofollow">weechat</a>, <a href="https://hexchat.github.io/" class="urlextern" title="https://hexchat.github.io/"  rel="nofollow">Hexchat</a>, <a href="http://www.mirc.com/" class="urlextern" title="http://www.mirc.com/"  rel="nofollow">mIRC</a>, telnet/netcat, …) ou utiliser un webchat (<a href="https://kiwiirc.com/client/the-delta.net/#The-Delta" class="urlextern" title="https://kiwiirc.com/client/the-delta.net/#The-Delta"  rel="nofollow">kiwi IRC</a>, <a href="https://chat.mibbit.com/?url=irc%3A%2F%2Fthe-delta.net%2F%23The-Delta" class="urlextern" title="https://chat.mibbit.com/?url=irc%3A%2F%2Fthe-delta.net%2F%23The-Delta"  rel="nofollow">mibbit</a>, …) si vous êtes un noobs des internetz.
</p>
<ul>
<li class="level1"><div class="li"> IP : the-delta.net</div>
</li>
<li class="level1"><div class="li"> Ports :</div>
<ul>
<li class="level2"><div class="li"> 6667</div>
</li>
<li class="level2"><div class="li"> 6697 (SSL)</div>
</li>
</ul>
</li>
</ul>

<p>
Salons gérés par le staff:
</p>
<ul>
<li class="level1"><div class="li"> #The-Delta : Salon principal, bilingue Français-<em>English</em></div>
</li>
<li class="level1"><div class="li"> #Taverne : Salon créer par <a href="/doku.php?id=users:lanodan" class="wikilink1" title="users:lanodan">lanodan</a> et <a href="/doku.php?id=users:fuyuneko" class="wikilink2" title="users:fuyuneko" rel="nofollow">fuyuneko</a></div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "Serveur IRC" [1441-2128] -->
<h3 class="sectionedit5" id="serveur_mumble">Serveur Mumble</h3>
<div class="level3">

<p>
Quelques infos inutiles :
</p>
<ul>
<li class="level1"><div class="li"> IP : the-delta.net</div>
</li>
<li class="level1"><div class="li"> Port : 64738 (celui par défaut)</div>
</li>
<li class="level1"><div class="li"> Pas de mot de passe(C&#039;est <strong>public</strong>)</div>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "Serveur Mumble" [2129-2284] -->
<h3 class="sectionedit6" id="stream">Stream</h3>
<div class="level3">

<p>
Pour l&#039;instant il n&#039;y a que un stream <abbr title="HyperText Transfert Protocol">HTTP</abbr> audio occasionnel fait par Music Player Daemon à l&#039;adresse <a href="http://the-delta.net:6688/" class="urlextern" title="http://the-delta.net:6688/"  rel="nofollow">http://the-delta.net:6688/</a>.
</p>

</div>
<!-- EDIT6 SECTION "Stream" [2285-2438] -->
<h2 class="sectionedit7" id="staff">Staff</h2>
<div class="level2">
<div class="table sectionedit8"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 centeralign">            Nom             </th><th class="col1 centeralign">   Titre    </th><th class="col2 centeralign">                      Personnage                           </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0"> <a href="/doku.php?id=users:namor_roidesmers" class="wikilink2" title="users:namor_roidesmers" rel="nofollow">namor_roidesmers</a> </td><td class="col1 leftalign"> Assistant  </td><td class="col2 leftalign"> Zombie amical                                             </td>
	</tr>
	<tr class="row2">
		<td class="col0 leftalign"> <a href="/doku.php?id=users:qwan_d_mon" class="wikilink2" title="users:qwan_d_mon" rel="nofollow">qwan_d_mon</a>       </td><td class="col1 leftalign"> Rédacteur  </td><td class="col2 leftalign"> Taupe                                                     </td>
	</tr>
	<tr class="row3">
		<td class="col0 leftalign"> <a href="/doku.php?id=users:toothless6reach" class="wikilink2" title="users:toothless6reach" rel="nofollow">toothless6reach</a>  </td><td class="col1"> Savant Fou </td><td class="col2 leftalign"> Savant fou / Dragon                                       </td>
	</tr>
	<tr class="row4">
		<td class="col0 leftalign"> <a href="/doku.php?id=users:fuyuneko" class="wikilink2" title="users:fuyuneko" rel="nofollow">fuyuneko</a>         </td><td class="col1"> Correcteur </td><td class="col2 leftalign"> Nekomaid de <a href="/doku.php?id=users:lanodan" class="wikilink1" title="users:lanodan">lanodan</a>                             </td>
	</tr>
	<tr class="row5">
		<td class="col0 leftalign"> <a href="/doku.php?id=users:lanodan" class="wikilink1" title="users:lanodan">lanodan</a>          </td><td class="col1 leftalign"> Fondateur  </td><td class="col2"> Loup , Humain 2.0, Poney, appartient à <a href="/doku.php?id=users:fuyuneko" class="wikilink2" title="users:fuyuneko" rel="nofollow">fuyuneko</a> </td>
	</tr>
</table></div>
<!-- EDIT8 TABLE [2458-3083] -->
</div>
<!-- EDIT7 SECTION "Staff" [2439-] -->