
<h1 class="sectionedit1" id="c_est_quoi_encore_ce_truc">C’est quoi encore ce truc ?</h1>
<div class="level1">

<p>
<abbr title="Internet Relay Chat">IRC</abbr> est un protocole de tchat par relais(les informations passent par un ou plusieurs serveur·s). Il permet de discuter par Salons et messages privées (Similaire à mumble ou TeamSpeak mais sans arborescence pour ceux qui connaissent)
Vous pouvez vous y connecter avec un client <abbr title="Internet Relay Chat">IRC</abbr> tel que (<a href="http://irssi.org/" class="urlextern" title="http://irssi.org/"  rel="nofollow">irssi</a>, <a href="http://weechat.org/" class="urlextern" title="http://weechat.org/"  rel="nofollow">weechat</a>, <a href="https://hexchat.github.io/" class="urlextern" title="https://hexchat.github.io/"  rel="nofollow">Hexchat</a>, <a href="http://www.mirc.com/" class="urlextern" title="http://www.mirc.com/"  rel="nofollow">mIRC</a>, telnet/netcat, …) ou utiliser un webchat (<a href="https://kiwiirc.com/client/the-delta.net/#The-Delta" class="urlextern" title="https://kiwiirc.com/client/the-delta.net/#The-Delta"  rel="nofollow">kiwi IRC</a>, <a href="https://chat.mibbit.com/?url=irc%3A%2F%2Fthe-delta.net%2F%23The-Delta" class="urlextern" title="https://chat.mibbit.com/?url=irc%3A%2F%2Fthe-delta.net%2F%23The-Delta"  rel="nofollow">mibbit</a>(<a href="https://chat.mibbit.com/?url=irc%3A%2F%2Fthe-delta.net%3A+6697%2F%23The-Delta" class="urlextern" title="https://chat.mibbit.com/?url=irc%3A%2F%2Fthe-delta.net%3A+6697%2F%23The-Delta"  rel="nofollow">ssl</a>), …).
</p>
<ul>
<li class="level1"><div class="li"> Hôte(<em>Host</em>) : the-delta.net</div>
</li>
<li class="level1"><div class="li"> Ports :</div>
<ul>
<li class="level2"><div class="li"> 6667 : Déconseillé car non sécurisé (et certains salons pourront avoir une version qui accepte seulement le SSL)</div>
</li>
<li class="level2"><div class="li"> 6697 : (<a href="/doku.php?id=user:lanodan" class="wikilink2" title="user:lanodan" rel="nofollow">lanodan</a> était une merde en certificats SSL) Le SSL est assez important car il permet de sécuriser la communication.</div>
</li>
</ul>
</li>
</ul>

</div>
<!-- EDIT1 SECTION "C’est quoi encore ce truc ?" [1-1069] -->
<h2 class="sectionedit2" id="salons">Salons</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> #The-Delta : Salon principal, mais souvent vide</div>
</li>
<li class="level1"><div class="li"> #Taverne : Salon créé par <a href="/doku.php?id=users:lanodan" class="wikilink1" title="users:lanodan">lanodan</a> et <a href="/doku.php?id=users:fuyuneko" class="wikilink2" title="users:fuyuneko" rel="nofollow">fuyuneko</a> et généralement il y a 3~4 personnes présentes.</div>
</li>
</ul>

<p>
Une partie des conversations des salons sont mises sur <a href="/doku.php?id=quotes" class="wikilink1" title="quotes">quotes</a> sur accord des personnes concernées.
</p>

</div>
<!-- EDIT2 SECTION "Salons" [1070-1369] -->
<h2 class="sectionedit3" id="securisation_via_ssl">Sécurisation via SSL</h2>
<div class="level2">

<p>
Pour une bonne connexion SSL il y a quelques manips à faire:
</p>
<ul>
<li class="level1"><div class="li"> Host : the-delta.net</div>
</li>
<li class="level1"><div class="li"> Port : 6697</div>
</li>
<li class="level1"><div class="li"> CA de CACert (optionnel) : allez sur <a href="http://www.cacert.org/index.php?id=3" class="urlextern" title="http://www.cacert.org/index.php?id=3"  rel="nofollow">Welcome to CAcert.org</a> et téléchargez le Class 1 (et 3) en format PEM.</div>
<ul>
<li class="level2"><div class="li"> Windows : Double-clic sur le fichier et cliquer sans arrêt sur “Suivant”</div>
</li>
<li class="level2"><div class="li"> <abbr title="Gnu is Not Unix">GNU</abbr>/<abbr title="Linux is not UNIX">Linux</abbr> (à executer en tant que root ou Super-Utilisateur)</div>
<ul>
<li class="level3"><div class="li"> RedHat 5+ : wget -O - <a href="http://www.cacert.org/certs/root.txt" class="urlextern" title="http://www.cacert.org/certs/root.txt"  rel="nofollow">http://www.cacert.org/certs/root.txt</a> » /etc/pki/tls/certs/ca-bundle.crt</div>
</li>
<li class="level3"><div class="li"> RehHat 4 :  wget -O - <a href="http://www.cacert.org/certs/root.txt" class="urlextern" title="http://www.cacert.org/certs/root.txt"  rel="nofollow">http://www.cacert.org/certs/root.txt</a> » /usr/share/ssl/certs/ca-bundle.crt</div>
</li>
<li class="level3"><div class="li"> Fedora : cd /etc/pki/ca-trust/source/anchors/ ; wget <a href="http://www.cacert.org/certs/root.txt" class="urlextern" title="http://www.cacert.org/certs/root.txt"  rel="nofollow">http://www.cacert.org/certs/root.txt</a> ; update-ca-trust extract</div>
</li>
<li class="level3"><div class="li"> Debian :  cd /usr/local/share/ca-certificates/ ; wget -O cacert-root.crt <a href="http://www.cacert.org/certs/root.crt" class="urlextern" title="http://www.cacert.org/certs/root.crt"  rel="nofollow">http://www.cacert.org/certs/root.crt</a> ; wget -O cacert-class3.crt <a href="http://www.cacert.org/certs/class3.crt" class="urlextern" title="http://www.cacert.org/certs/class3.crt"  rel="nofollow">http://www.cacert.org/certs/class3.crt</a> ; update-ca-certificates</div>
</li>
</ul>
</li>
</ul>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Sécurisation via SSL" [1370-] -->