
<p>
Ci-dessous la liste des utilisateurs ayant créer une fiche personnage.
</p>

<p>
Je vous invite a créer votre page utilisateur &amp; fiche personnage en tapant users:<em>votre_utilisateur</em> dans le champ de recherche puis en cliquant sur <em>Créer cette page</em>.
</p>
