<div class="inline dataplugin_entry user sectionedit1"><dl><dt class="titre">titre<span class="sep">: </span></dt><dd class="titre">Joueur (sous-fifre)</dd><dt class="personnage">personnage<span class="sep">: </span></dt><dd class="personnage">Zombie</dd></dl></div><!-- EDIT1 PLUGIN_DATA [1-95] --><ul>
<li class="level1"><div class="li"> Mail: romain.lalune@yahoo.fr</div>
</li>
<li class="level1"><div class="li"> Twitter: @Namor_RDM</div>
</li>
</ul>
